[2018-07-10 01:10] flihp commented on #1095
the coveralls folks helped me out with the tpm2-tss stuff here: https://github.com/lemurheavy/coveralls-public/issues/1066

[2018-07-10 14:29] joshuagl commented on #1095
I don't think I have sufficient access to do this, I can't see a repo token on coveralls.io and according to their [troubleshooting](http://docs.coveralls.io/troubleshooting):

[2018-07-10 18:17] flihp commented on #1095
Didn't realize 'admin' perms on the repo were required for this sort of thing. Pretty weird since @williamcroberts set it up initially and he has the same permissions as you. Let's experiment to see if promoting the 'maintainers' group from 'write' to 'admin' permissions. Let me know if this resolves the issue.

[2018-07-10 20:21] joshuagl commented on #1095
Thanks @flihp -- I'm now able to see the repo token on coveralls.io and I've triggered two builds which have submitted scan results: https://coveralls.io/github/tpm2-software/tpm2-tools
I've submitted a pull request to update the badge in the README: #1096 and requested that the history be merged by coveralls at lemurheavy/coveralls-public#1159

[2018-07-11 16:48] flihp commented on #1095
LGTM

[2018-07-11 16:48] #1095 closed

[2018-07-11 17:50] martinezjavier opened #1097 "tpm2_unseal regression on 3.1.0"
The following commands used to work with tpm2-tools 3.0:

[code]

But since 3.1.0 it fails with:

[code]

It works correctly if a PCR selection is provided:

[code]

I haven't been following tpm2-{tss,tools} development too closely lately but I guess it has to be related to the tpm2-tss 2.0 SAPI library since I don't see a lot of differences in the tools.

@williamcroberts @joshuagl any ideas?

[2018-07-12 17:39] williamcroberts commented on #1097
@martinezjavier nothing off the top of my head. This seems like a weird regression, considering our integration test with an empty password:
https://github.com/tpm2-software/tpm2-tools/blob/3.1.0/test/system/test_tpm2_unseal.sh#L79

[2018-07-12 17:55] martinezjavier commented on #1097
@williamcroberts I found the issue, it's caused by commit e103bbf5117 ("objectattrs: clear before or'ing in values"). Reverting that patch brings up the old behaviour from 3.0.4 and it works again. It wasn't stressed by the test you mention because it uses the default object attributes from `tpm2_create`.

[2018-07-13 13:29] martinezjavier commented on #1097
@williamcroberts I think we should revert that commit for 3.X, since unlike the tpm2-tss 2.0 porting, this is a user facing change for 3.X users.

[2018-07-14 15:17] williamcroberts commented on #1097
@joshuagl can you roll another 3.X real quick?

[2018-07-16 08:30] martinezjavier opened #1099 "master branch regression: tools don't print a short summary when executed without options"
On tpm2-tools 3.X executing the tools without any options prints a short summary to help users:

[code]

But on the master branch, this feature doesn't work anymore:

[code]

[2018-07-16 14:13] joshuagl commented on #1099
There was an intentional behaviour change in [12bfda8](https://github.com/tpm2-software/tpm2-tools/commit/12bfda8) with the (relevant part of the) commit message:

Yet the tool here fails with an error and doesn't show the help message, therefore this does appear to be a bug.

@williamcroberts can you help us understand why the behaviour was changed and we chose to no longer show the help when a t

[2018-07-16 18:48] williamcroberts commented on #1099
Some tools execute without options, and adding that flag just kind of complicates things on when we should print versus when we shouldn't. Rather, just print on -h or on error early enough in the execution process. If the tool fails because, for instance, the keyahndle is not loaded, the tpm error is displayed, but theirs no need to dump the options out.

[2018-07-16 18:51] williamcroberts commented on #1049
Closed in #1100, also dup of #589

[2018-07-16 18:51] #1049 closed

[2018-07-16 18:51] williamcroberts commented on #589
closed in #1100

[2018-07-16 18:51] #589 closed

[2018-07-16 20:15] joshuagl commented on #1089
I'm unable to reproduce this on Fedora 28. I'm building the 3.X branch with *--enable-hardening* and a patch to add -Werror=unused to EXTRA_CFLAGS [here](https://github.com/joshuagl/tpm2-tools/commit/1368bb3f0c0523845ddf43974c9b2f7f5848e599).
I can see that the CFLAGS in he generated Makefile tcontain `-Werror=unused`:

My builds succeed.

[2018-07-16 20:16] joshuagl commented on #1097
3.1.2-rc0 has been tagged.

[2018-07-16 21:50] williamcroberts commented on #1079
So for symmetric, it looks like the symmetric parameters in the primary object matter, as this works:
[code]
When `-G 1` or `-G rsa` is specified, the new algorithm defaults to "rsa2048:aes256cfb", which causes the key size not to match.

I discovered this by expanding the readpublic output and noticing the symmetric keybit size changing:
** OLD (working)**:
[code]

Not sure why this matters, or i

[2018-07-16 22:17] williamcroberts commented on #1079
Ahh I am assuming this is the problem, hardcoded sym:

[code]

[2018-07-16 23:08] williamcroberts commented on #1079
Also looks like their is a hardcode to AES128 in the encryption routine....(sic)

[2018-07-17 17:34] williamcroberts commented on #1079
According to section [22.4](https://trustedcomputinggroup.org/wp-content/uploads/TPM-Rev-2.0-Part-1-Architecture-01.38.pdf), I quote, "The block cipher used for encrypting the object's sensitive area is the symmetric cipher of the Storage Parent."

So the storage parent determines the cipher. I tried switching this to be generic, but when using a parent of 256, I got the same error.

[2018-07-17 19:10] williamcroberts commented on #1079
Hypothesis: Looks like the calls to KDFa have (TPM2_MAX_SYM_BLOCK_SIZE * 8) which is limiting the key to 128 bits.

This tool is more of a mess then I initially thought. Looks like parent name alg, and a host of other things were taken for granted.

[2018-07-17 20:09] williamcroberts commented on #1079
I have it working now for an RSA2048 parent that has either an AES128CFB or AES256CFB parent:
https://github.com/williamcroberts/tpm2.0-tools/tree/fix-import

Now that I got a better handle on the problem, and that it alligns to 22.4 of https://trustedcomputinggroup.org/wp-content/uploads/TPM-Rev-2.0-Part-1-Architecture-01.38.pdf I can go through and start to re-organize it, and remove some of the

[2018-07-19 15:52] williamcroberts commented on #1099
Currently it skips on run, because dumping help in some cases won't help the user. It's really, if we're still verifying options in the "onrun" portion.

So we could modify the return values for tpm2_onrun, so -1 show help, 0 success, 1 fail.

This way tools like tpm2_create, and others can say, show short-help please.

Or we could keep this behavior and say "see help" maybe a LOG_HELP() message?

[2018-07-19 19:59] joshuagl commented on #1099
That's an elegant solution with a minimal impact on code complexity and readability -- I like it.
I have the beginnings of a patch to make that change, will likely get a PR out tomorrow.

[2018-07-20 03:54] williamcroberts opened #1106 "populate_hash_algs broken"
After yaml output change populate_hash_algs no longer works.

[2018-07-20 14:56] acmer29 opened #1108 "Can tpm2_createprimary print or output the name of created object?"
Hi,

I am implementing TPM2_Load command with HMAC authentication in my software. In this HMAC computation, the name of the object is required.

I would like to use tpm2-tools to execute tpm2_createprimary and save the name of created object in a configuration file, which will be read and parsed by my software to run TPM2_Load with HMAC computation. However I did not find any parameters in tpm2_cr

[2018-07-20 15:08] williamcroberts commented on #1108
Current master will print the name of the object to stdout in a YAML format with tpm2_readpublic:

$ tpm2_load -C parent.ctx -u key.pub -r key.priv -o key.ctx
$ tpm2_readpublic -c key.ctx
name: 000b83c51e4f27b84acf63c950e82028276fb28c06eb4054b1c43e3478b0b65bd8ab
qualified name: 000bb3b8c9e264b5e6036cfc83ddd2823fa6f9ca2016c907fcdd238ba60d5546a14d
name-alg:
  value: sha256
  raw: 0xb
attributes:
  v

[2018-07-20 15:18] williamcroberts commented on #1108
Next time please use the mailing list for support questions.

[2018-07-20 15:18] #1108 closed

[2018-07-20 15:36] #1106 closed

[2018-07-20 16:35] ScottyBauer commented on #1011
+1

[2018-07-23 19:30] montvid opened #1113 "Getting started wiki omissions"
https://github.com/tpm2-software/tpm2-tools/wiki/Getting-Started
One needs to start the systemd service after installation to be able to execute "Hello world". Maybe someone could update the wiki? Thanks for the software!
Check to see if tpm is loaded "dmesg | grep -i tpm" if not reboot.
sudo systemctl enable tpm2-abrmd.service
sudo systemctl start tpm2-abrmd.service
sudo systemctl status tpm2-abr

[2018-07-23 20:02] williamcroberts opened #1114 "CI: Coveralls Stopped Pushing"
Get coveralls to start pushing again from CI.
https://travis-ci.org/tpm2-software/tpm2-tools

[2018-07-23 20:09] williamcroberts commented on #1113
Your grep command is for a Hardware TPM and the instructions are set up for using a simulator. The systemctl commands won't work, you need to pass the correct TCTI for the simulator.

The goal of that is the simplest way of getting the stack working without dealing with if the user has both the required hardware, as well as access to the hardware (permissions on /dev/tpm0).

[2018-07-23 20:10] williamcroberts commented on #1113
Not really sure what else we can add to that, without bloating it more then it already is.

[2018-07-23 20:10] #1099 closed

[2018-07-23 20:12] williamcroberts commented on #1087
IV support added in: eb76fb50af1f6ea9eeb1d1144bc98970282996a5

[2018-07-24 15:05] joshuagl commented on #1114
Hmm, I tried a test build and Travis tells me:

despite the fact that the variable is defined in the travis settings. I'll try adding to the variable to the .travis.yml

[2018-07-24 16:37] montvid commented on #1113
@williamcroberts thank you for your reply. Every machine that is windows 10 certified has to have a tpm or an intel ptt and that is a lot of machines so there is less need for a simulator. I haven't found a wiki that shows how to setup a real tpm so maybe someone can improve on that? I am still struggling to find real examples on how to integrate tpm2 with LUKS and GNOME keyrings as I am a newbie

[2018-07-24 16:55] williamcroberts commented on #1113
@montvid if you want to start putting together stuff, I'd be happy to take into the wiki as a separate page, you can [clone the wiki](https://help.github.com/articles/adding-and-editing-wiki-pages-locally/) and we can take PR's for the wiki (it would require me to set up a separate project, but it's doable, or you can just email the patch you'd like to apply and I can handle it that way.

While ha

[2018-07-24 17:04] montvid commented on #1113
Found other omissions:
one needs this to compile from source in ubuntu 18.04:
sudo apt install libtool-bin libcmocka-dev libgcrypt20-dev libssl-dev

The fedora 28 binaries on intel nuc with intel ptt work fine but on ubuntu I can't compile the tss I will open another issue for that.

[2018-07-24 17:14] montvid commented on #1113
@williamcroberts thanks for suggestions. For a start I just wanted a "how to" install and run the software but It was not easy available so I made this report for someone to include in the wiki these commands so not to struggle as I was struggling because if you don't run the abrmd systemd service nothing works for me and there were no instructions how to run the service.

I am a newbie and I don'

[2018-07-24 17:27] montvid opened #1117 "tpm2-abrmd 2.0.0-30-gfd03097: ./test-suite.log errors on ubuntu 18.04"
I can't compile the abrmd on ubuntu 18.04 but the tss compiles fine. Any clues? :)
[code]

[2018-07-24 17:37] diabonas opened #1118 "Using EVP_CIPHER_CTX directly breaks compatibility with OpenSSL 1.1.0"
The recent commit df7495b91b80b78065d3590c28a27955e54f37f0 breaks compatibility with OpenSSL 1.1.0: the `EVP_CIPHER_CTX ctx` in [line 272 of tools/tpm2_import.c](https://github.com/tpm2-software/tpm2-tools/blob/master/tools/tpm2_import.c#L272) must be declared as a pointer, see https://github.com/openssl/openssl/issues/962#issuecomment-208792020, or building with OpenSSL 1.1.0 will fail. If I make

[2018-07-24 17:41] montvid commented on #1113
@williamcroberts a firmware tpm2 (intel ptt) also works - a hardware tpm2 is not required.
https://docs.microsoft.com/en-us/windows/security/hardware-protection/tpm/tpm-recommendations

[2018-07-24 18:15] williamcroberts commented on #1113
@montvid - taking your issues one by one below:

1. A lack of tpm2-abrmd documentation.
details on tpm2-abrmd outside of the simple hello world example with the simulator should be documented with the tpm2-abrmd project. We don't want to do full write ups on those components: So one should see https://github.com/tpm2-software/tpm2-abrmd and bug them for missing docs on how to use the abrmd manager

[2018-07-24 18:17] williamcroberts commented on #1117
Last I knew that should work. Perhaps try going to the https://github.com/tpm2-software/tpm2-abrmd page, or using the mailing list (we all share one mailing list) for help.

The mailing list people tend to be very responsive and helpful:
https://lists.01.org/mailman/listinfo/tpm2

[2018-07-24 18:17] #1117 closed

[2018-07-24 18:30] williamcroberts commented on #1118
I accidentally closed https://github.com/tpm2-software/tpm2-tools/issues/1079, but this is a known problem recorded in the task list there.

[2018-07-24 18:30] #1118 closed

[2018-07-24 21:03] montvid commented on #1113
Thanks, yes, I need to address tpm2-abrmd it seems!

[2018-07-24 21:03] #1113 closed

[2018-07-24 21:53] joshuagl commented on #1114
I ran the docker scripts from my development machine with COVERALLS_REPO_TOKEN set and the coverage info was uploaded: https://coveralls.io/jobs/38687494

[2018-07-25 15:37] williamcroberts commented on #1114
Yeah this job works too:
[job214.1](https://travis-ci.org/tpm2-software/tpm2-tools/jobs/407763204)

When I filed this bug, I was looking at PR builds which will not have any secure env variables set, like REPO_TOKEN.

[2018-07-25 15:38] williamcroberts commented on #1114
Yeah, wird that the latest ones are not popping up, the latest I see on coveralls is:
https://coveralls.io/builds/17921585

[2018-07-25 17:29] williamcroberts opened #1119 "tpm2_import - fix sha1 parents"
Sha1 parents don't work for tpm2_import.

[2018-07-26 15:58] joshuagl opened #1122 "Test more distros in CI"
We've seen a number of recent changes (PR #1121 and db4c126 of PR #1120) for issues that are not covered by our Travis CI, therefore we should increase the range of distros we test to cover a good range of compilers, libraries, etc.

My gut (and past experience with CI and build systems) tells me we'll cover a good range of software if we test latest Fedora (to get cutting edge tools & OS plumbing

[2018-07-26 16:00] joshuagl commented on #1122
- Do the selected distros make sense? Is 4 distro/version combinations overkill?
- Do we want the container images to be updated to match the latest OS state semi-regularly?
- Does it make sense to automate update & upload of the container images on a periodic basis?

[2018-07-26 20:20] havolarkis opened #1123 "Unsealing data despite PCR policy"
Folowing the examples in branch 3.X test scripts 'test/system/test_tpm2_unseal.sh' for sealing I've got some undesirable behavior. It is possible to unseal the secret data wihtout passing the PCR list and still get it.

[code]

If I do not pass the option `-L sha1:0,1,2,3 -F pcr.bin`, I still get the secret sealed. Am I missing something? Is it some sort of TPM2 feature?

I am on a CentOS-7.5
ibmt

[2018-07-27 12:48] diabonas commented on #1123
If you remove the `-Q` option from the `tpm2_create` command, you will see that the key is created with the `userwithauth` attribute. This means that instead of unlocking the secret based on the PCR configuration, you can also unlock it with the password specified by the `-p` parameter to `tpm2_create`. If you do not set a password, it will be left empty, so anybody can unlock the secret. This is

[2018-07-27 12:59] diabonas commented on #1097
As a warning for future readers, note that while this commit appears to fix the problem, it probably does not achieve the intended effect at all: if you omit the PCR list from `tpm2_unseal`, it will not unlock the secret based on the state of the PCRs, but based on the secret password, which is empty by default, see https://github.com/tpm2-software/tpm2-tools/issues/1097#issuecomment-404591991 and

[2018-07-27 13:36] joshuagl commented on #1123
It might be useful to document this in some kind of FAQ on the wiki.

@havolarkis FWIW I can't reproduce the error in the final line of your example with a more recent stack: tpm2-tss 2.0, tpm2-abrmd 2.0 and tpm2-tools 3.1.x -- is upgrading an option?

[2018-07-27 13:53] havolarkis commented on #1123
@diabonas thanks, that was exactly was I needed.

@joshuagl Upgrade just wouldn't be the easiest way. But for now the tpm2-tools-3.0.x undestands the hex code of `userwithauth`.  So this was my bad for not trying.

I agree that might be nice to document some basic tpm2 operations, like sealing/unsealing process. If I can do any help on this, just ask.

[2018-07-27 13:53] #1123 closed

[2018-07-27 14:50] williamcroberts commented on #1123
@havolarkis we love wiki contributions.

[2018-07-27 14:58] diabonas commented on #1123
@havolarkis No problem, you are welcome! The `userwithauth` attribute was something I was struggling with myself when I started using this tool suite...

@joshuagl I get the same error with tpm2-tools 3.1.2-rc0, tpm2-tss 2.0.0 and tpm2-2.0.1: in my setup, that is the standard error I get when the file with the expected PCR values does not match the actual PCR state.

[2018-07-27 15:20] joshuagl commented on #1122
Turning Esys off is a good idea, as is restricting coveralls to one distro. You raise a good point with PR builds and master builds. How we tackle that depends on goals:
- If we want to be sure master doesn't break on either of the 4 distros, we could try building everything for PRs and have master builds only happen for one distro (LTS Ubuntu, as done now?).
- If we want to be sure we fix any iss

[2018-07-27 15:23] joshuagl commented on #1089
I reached out to @yunyings privately and this appears to be an issue observed when packaging for Fedora 28 on a RHEL 7 host. Since moving to packaging for Fedora on a native Fedora host the issue is no longer observed.

I can't reproduce in vanilla Fedora 28 or CentOS 7, thus I'm inclined to close this issue.

[2018-07-29 12:02] diabonas opened #1125 "Verifying signed releases"
Releases are currently signed by one of the three following PGP keys as described in [RELEASE.md](https://github.com/tpm2-software/tpm2-tools/blob/master/RELEASE.md#verifying-tags)<sup>1</sup>:

- William Roberts (5B482B8E3E19DA7C978E1D016DE2E9078E1F50C1)
- Javier Martinez Canillas (D75ED7AA24E50CD645C6F457C751E590D63F3D69)
- Joshua Lock (5BEC526CE3A61CAF07E7A7DA49BCAE5443FFFC34)

I noticed that o

[2018-07-30 08:36] martinezjavier commented on #1097
@diabonas @williamcroberts @joshuagl so this is a big issue, probably then commit ("e103bbf5117 objectattrs: clear before or'ing in values") justified breaking the user-visible interface on 3.X since it was really about fixing a security vulnerability? What's semver policy on that case?

And instead of this revert, we should instead backport it to the 3.0.4 branch?

Since I don't think that users

[2018-07-30 08:51] martinezjavier commented on #1097
Another option is to clear the `TPMA_OBJECT_USERWITHAUTH` from the `ctx.in_public.publicArea.objectAttributes` in `tpm2_create` if a policy is provided. That will be a minimal user interface change, while making sure that a user must provide a `-A userwithauth` if wants to also unseal with a password.

But I wonder if we shouldn't set a `TPMA_OBJECT_ADMINWITHPOLICY` if a user provides a policy in

[2018-07-30 08:56] martinezjavier commented on #1123
@havolarkis you closed the issue but IIUC it hasn't been solved yet (at least for 3.0.4 and 3.1.2).  I've commented my thoughts on this in issue #1097.

[2018-07-30 09:39] diabonas commented on #1097
@martinezjavier I like your last suggestion, as it is least likely to trip users up: I think the main security/usability problem is not 352908f7470338aba858a9ac20c1c5ec608b661c, but the fact that `userwithauth` is set by default for keys locked with a policy (so this currently is a problem even on `master` if no object attributes are explicitly specified for `tpm2_create`).

Adding to the default

[2018-07-30 10:06] martinezjavier commented on #1097
Right, I wonder if for master we should just remove any defaults and ask users to explicitly set the attributes...

For master I don't think is a problem, because if you set a policy with `-L` you will need to replace the default attributes anyways since `TPMA_OBJECT_ADMINWITHPOLICY` is not set by default.

Which is another bug since by setting a policy I guess that user will expect it to be able

[2018-07-30 10:52] martinezjavier commented on #1097
@diabonas @havolarkis @williamcroberts @joshuagl fixed some bugs and also added test cases to the tpm2_unseal integration test to catch regressions. Please review!

[2018-07-30 11:34] martinezjavier commented on #1097
and also forward ported the commit to master in PR #1127, since it has the same issue. We should also backport to 3.0.X and do a 3.0.5 release with the fix.

[2018-07-30 15:11] williamcroberts commented on #1097
Theirs a lot of stuff in this thread, so let me work through it item by item.

**adminWithPolicy**
I don't think we want to set this, at least not at this point in time, as it requires ADMIN role authorization to be done with a policy session versus an HMAC auth value. I think for now, not having this poses no significant threat.

**No Default Attributes**
We want some set of sane defaults, it's q

[2018-07-30 19:16] williamcroberts opened #1128 "tpm2_import: support ECC"
Support Importing ECC keys

[2018-07-30 19:16] williamcroberts opened #1129 "tpm2_import"
Support ECC parent key

[2018-07-30 21:49] williamcroberts commented on #1125
I uploaded my key:
* https://pgp.mit.edu/pks/lookup?op=vindex&search=0x6DE2E9078E1F50C1
* I also archived revocation certificates in case I need to revoke the key from the server.

FYI How to generate "ascii armor version":
[code]
I just grabbed the key id from my ~/.gitconfig file.

@joshuagl and @martinezjavier can you please do the same. I also recommend securely archiving revocation certs. I h

[2018-07-30 21:52] williamcroberts commented on #1125
We also should re-write our RELEASE.md to clarify this change. I still want to keep a public key as an object in the git repo.

[2018-07-30 22:39] martinezjavier commented on #1125
@williamcroberts as @diabonas mentioned, I already uploaded my key to a public keyserver (pgp.mit.edu) a long time ago.

[2018-07-30 22:58] williamcroberts commented on #1125
@martinezjavier sorry, senior moment.

[2018-07-31 20:04] joshuagl commented on #1097
I absolutely like the idea of prompting the user not to use empty passwords. Perhaps we can add a flag that indicates "I know this is iffy". If the command is invoked with without a password or that flag then we error out?

[2018-08-01 09:37] joshuagl commented on #1089
Closing issue, unable to reproduce

[2018-08-01 09:37] #1089 closed

[2018-08-01 14:15] joshuagl commented on #1125
I've uploaded my key: https://pgp.mit.edu/pks/lookup?op=vindex&search=0x49BCAE5443FFFC34

[2018-08-01 14:36] martinezjavier commented on #1125
haha, no worries. I just mentioned to let you know that's already there.

[2018-08-01 20:31] diabonas commented on #1125
Nice, thank you very much @martinezjavier @williamcroberts @joshuagl! The next version of the [Arch Linux AUR package for tpm2-tools](https://aur.archlinux.org/packages/tpm2-tools/) will have signature verification enabled.

[2018-08-01 20:39] #1125 closed

[2018-08-02 16:21] twoerner opened #1134 "build failure with tpm2-tools"
Commit 45a1dd2bf41557286bb5b5c8ee64b4cd2f506994 to tpm2-tools causes the following build failure:

[code]

I am cross-building the latest master with OpenEmbedded for a RaspberryPi3 device. The compiler is gcc-8.2. The layer is meta-secure-core:

[code]

[2018-08-02 16:28] twoerner commented on #1134
@williamcroberts you beat me to it, haha. I was just putting together a patch with %zu :-)

[2018-08-03 17:00] #1134 closed

[2018-08-03 19:27] AshithPolepalli opened #1137 "Unable to get authorization to TPM2 after clearing"
I'm working on Nuc7i7BNH firmware TPM2.
Getting the following error on running command below, after performing following steps:

1. TPM2 has been cleared by removing jumper and selecting option on boot.(as mentioned in  NUC datasheet)

2. $ tpm2_takeownership -o ownerpass -e endorsepass -l lockpass
ERROR: Could not change hierarchy for Owner. TPM Error:0x9a2

couldn't understand what is the exact

[2018-08-06 16:54] williamcroberts commented on #1137
Perhaps something is setting the owner password before you're getting to it. What's the full stack that your running (windows, linux, etc)?

@tstruk don't you have a NUC?

[2018-08-06 17:38] gilb3rt opened #1139 "Path with "aux" causes problems in Windows"
Issue https://github.com/swcarpentry/DEPRECATED-bc/issues/463 concluded that Windows has reserved "aux" for some reason. The newly added "tools/aux" directory causes my sync to fail on Windows with the error "fatal: cannot create directory at 'tools/aux': Invalid argument".

[2018-08-06 17:39] tstruk commented on #1137
@williamcroberts No, I don't have any NUC system. I'm using minnowboard.
@AshithPolepalli From the Error:0x9a2 it looks like that there is still some auth value somewhere.
Could you try to ru tpm2_clear before tpm2_takeownership

[2018-08-07 05:38] AshithPolepalli commented on #1137
@williamcroberts i am using Linux 4.15.0-29-generic kernel on ubuntu 16.04.

@tstruk
1) Disabled tpm2-abrmd service.
2) Cleared TPM
3) executed following command soon after clearing and facing following error.
$ tpm2_clear
ERROR: Tss2_Sys_Clear(0x98E) - tpm:session(1):the authorization HMAC check failed and DA counter incremented

[2018-08-07 15:08] SilverJan commented on #250
I assume that the latest master version resolves this issue? I saw that the method `tpm2_import` has been added.

[2018-08-07 16:56] williamcroberts commented on #250
@SilverJan yes it does. tpm2_import can now be used to load AES128/256 and RSA1024/2048 and 4096 (untested) keys.

[2018-08-08 15:20] SilverJan commented on #1137
Getting the same error (`ERROR: Tss2_Sys_Clear(0x98E) - tpm:session(1):the authorization HMAC check failed and DA counter incremented`) while executing `tpm2_clear` with the current master-branch builds.

[2018-08-10 07:11] u7702045 opened #1142 "tpm2_createprimary shout value is out of range or is not correct for the context"
tpm2_clean ; tpm2_createprimary -g 'sha1' -G 'ecc' -o context.primary
Tss2_Sys_CreatePrimary(0x2C4) - tpm:parameter(2):value is out of range or is not correct for the context

I found this issue on ARM platform after git update from
491c9975f264a574556a9166e31d42062423caba
 to
63bf577935b3812dbea0c5f0637234d37ebba90e

[2018-08-10 17:06] williamcroberts commented on #1142
I wonder if your tpm doesn't support the default chosen ECC algorithm of curve size 256. Since it's a restricted (parent) object the scheme should be NULL and an aes256cfb symmetric key associated. Typing "ecc" in your case, is really the same as typing: "ecc256:null:aes256cfb". The scheme (middle part) has to stay null or the tpm will reject it. So this leaves two parts, either:
1. Your tpm doesn

[2018-08-13 17:44] williamcroberts commented on #1129
Duplicate of #1128

[2018-08-13 17:44] #1129 closed

[2018-08-13 17:52] williamcroberts opened #1146 "tpm2_import - truncating 256 AES keys"
https://github.com/tpm2-software/tpm2-tools/blob/master/test/integration/tests/import.sh#L54

The test creates a 32 byte key, but truncates it in the OSSL calls and when setting the public attribute values.

[2018-08-13 19:12] williamcroberts opened #1147 "tpm2_clearlock - bad option name on -L and rename"
The hierarchy for clearcontrol command can be either LOCKOUT or PLATFORM, but the parameter for a password is done via:
[code]

This should probably be -P

[2018-08-13 20:50] williamcroberts commented on #1147
The tool should also be called tpm2_clearcontrol, not clearlock.

[2018-08-13 21:00] williamcroberts commented on #1147
This -L can also be changed in tpm2_clear

[2018-08-13 22:16] williamcroberts opened #1148 "tpm2_verifysignature"
Clean up output

[2018-08-14 03:28] u7702045 commented on #1142
@williamcroberts , Thank for the reply, can you point me the right direction? Here is the getcap on my machine:
# tpm2_getcap -c 'properties-variable'
TPM2_PT_PERSISTENT:
  ownerAuthSet:              0
  endorsementAuthSet:        0
  lockoutAuthSet:            0
  reserved1:                 0
  disableClear:              0
  inLockout:                 0
  tpmGeneratedEPS:           0
  reserved2:

[2018-08-14 03:37] u7702045 commented on #1142
@williamcroberts , more information:
rsa:
value: 0x1
asymmetric: 1
symmetric: 0
hash: 0
object: 1
reserved: 0x0
signing: 0
encrypting: 0
method: 0
sha1:
value: 0x4
asymmetric: 0
symmetric: 0
hash: 1
object: 0
reserved: 0x0
signing: 0
encrypting: 0
method: 0

# tpm2_clear ; tools/tpm2_createprimary -g 'sha1' -G 'rsa' -o context.primary
ERROR: Tss2_Sys_CreatePrimary(0x2CA) - tpm:parameter(2):the typ

[2018-08-14 15:28] williamcroberts commented on #1142
Can you try:
[code]

[2018-08-14 15:43] tstruk opened #1149 "Switch tools CI to TSS 2.0.1"
Switch tools CI to the latest TSS 2.0.1
https://github.com/tpm2-software/tpm2-tss/releases/tag/2.0.1

[2018-08-15 17:41] williamcroberts commented on #1142
The reason it works, is that when you do 'rsa' or 'ecc' we need to pick other parameters, as assymetric objects have 3 major components:
1. The main algorithm, like RSA and it's key size, like 2048
2. The scheme. This HAS to be null for parent objects (like primary objects). That's the second part of the field.
3. The symmetric key associated with an asymmetric object for encryption schemes like R

[2018-08-15 17:41] #1142 closed

[2018-08-15 19:47] ismaws opened #1150 "tpm2_getcap -c properties-fixed"
I'm able to run tpm2_getcap with other arguments, but "properties-fixed" throws:

tpm2_getcap -c properties-fixed -V
WARN on line: "65" in file: "lib/tpm2_capability.c": More data to be queried: capability: 0x6, property: 0x100

ERROR on line: "166" in file: "tools/tpm2_tool.c": Unable to run ./tpm2_getcap

[2018-08-16 02:52] williamcroberts opened #1151 "Option -a/-A revisit"
-a is used for the hierarchy and -A is used for object attributes. Likely want to swap those, since capital options indicate parent idioms, like hierarchy.

[2018-08-16 13:35] williamcroberts commented on #1150
So I don't have a TPM that actually triggers this, but essentially it needs to loop and store based on the MORE_DATA flag IIUC. I can try putting a patch together for it, but at a minimum I would need your help to test it. Even better, you can propose a patch to the project.

[2018-08-17 15:49] Krb686 opened #1155 "tpm2_nv{read|write} getting TPM2_RC_AUTH_UNAVAILABLE with nv index and 'policyread|policywrite', tpm2-tools 3.1.1"
I'm running with tpm2-tss 2.0.0, tpm2-abrmd 2.0.0, and tpm2-tools 3.1.1.

Trying to create an NV Index that requires a simple PCR policy to read or write.  I'm testing on a physical TPM.

I've done:

`tpm2_createpolicy -P -g 0xB -L 0xB:23 -f sha256_23.policy`
`tpm2_nvdefine -x 0x1c00000 -a 0x40000001 -s 32 -L sha256_23.policy -t "policyread|policywrite"`

Then `tpm2_nvlist` shows:
[code]

So, look

[2018-08-17 15:52] Krb686 commented on #1155
Should also add - I've tried creating the NV index with: `ownerwrite|policyread`, successfully written in a 32 byte value, and then tried to do a `tpm2_nvread` with essentially the same arguments, and got the same `0x12f`

[2018-08-17 15:59] Krb686 commented on #1155
If I do a `tpm2_getcap -c properties-fixed`, I see:

`TPM2_PT_REVISION: 1.16`

So, my TPM doesn't implement 1.38? Did policy support for NV not exist in 1.16?

[2018-08-17 16:46] Krb686 commented on #1155
Hmm, did a little more digging here and found:

https://github.com/tpm2-software/tpm2-tools/blob/master/test/integration/tests/nv.sh

Saw:

[code]

Sure enough, if I run:

`tpm2_nvwrite -x 0x1500016 -a 0x40000001 -L ${alg_pcr_policy}:${pcr_ids} -F $file_pcr_value keyfile`, I get `0x12f`

But if I change `0x40000001` to `0x1500016`, it appears to work.  I guess I'm misunderstanding something.  I th

[2018-08-17 18:47] ismaws commented on #1150
Thanks. I can definitely test it. I'll see if I can propose the patch.

[2018-08-18 18:41] praetp commented on #1067
In Ubuntu 18.04 the version of tpm-tools is still 2.1.0-1build1

[2018-08-21 20:02] idesai opened #1158 "Loadexternal failing to load rsa public pem file"
While load external can load public by specifying private pem files, it is failing to load only the public pem without specifying the private file. May be we should add a test that tests loading public pem files only.
This is causing PR #1143 to fail. The policyauthorize.sh test script runs and fails the following:
tpm2_loadexternal -G rsa -a n -u $file_public_key -o $file_verifying_key_ctx

[2018-08-22 02:48] williamcroberts commented on #1158
Weird that worked at some point... ill put a fix in place and test

[2018-08-22 03:34] williamcroberts opened #1159 "tpm2_rsaencrypt|decrypt"
Support setting scheme, it currently defaults to RSAES. We need to support:
1. TPM_ALG_NULL
2. TPM_ALG_RSAES
3. TPM_ALG_OAEP

These references are handy:
* https://www.openssl.org/docs/man1.0.2/apps/rsautl.html
* Table 43 of https://trustedcomputinggroup.org/wp-content/uploads/TPM-Rev-2.0-Part-3-Commands-01.38.pdf

[2018-08-22 04:17] #1158 closed

[2018-08-23 12:22] D-Kern opened #1160 "Quote does not work if AK has a password"
With tpm2-tools version 3.1.0, trying to quote with an AK that has a password gives error 0x98e:
[code]
If the AK has no password it works fine:
[code]

It seems like sessionsData in [tpm2_quote.c#L97](https://github.com/tpm2-software/tpm2-tools/blob/3.1.0/tools/tpm2_quote.c#L97) is missing ".hmac = sessionData.hmac".

[2018-08-27 15:12] idesai opened #1163 "Loadexternal should dump the loaded object name"
The tpm2_loadexternal tool must be able to optionally dump the loaded object's name. This will help avoid calling tpm2_readpublic in all instances where the name of the object is required after loading the object.

[2018-08-27 22:16] #1163 closed

[2018-08-30 13:42] bazuchan opened #1165 "Can't import rsa key"
[code]

Tried clearing tpm - same result.

[2018-08-30 15:25] martinezjavier commented on #1165
@bazuchan what kernel version are you using? If isn't too old, you can use the in-kernel resource manager (`/dev/tpmrm0`) instead of the TPM device directly (`/dev/tpm0`).

If you are using the latest stable tpm2-tools then you could do the following:

[code]
and then your tpm2_* commands.

[2018-08-30 15:26] martinezjavier commented on #1165
@bazuchan BTW, you should use the mailing list for these questions. I'm closing the issue since is not a tpm2-tools bug.

[2018-08-30 15:26] #1165 closed

[2018-08-30 19:01] williamcroberts opened #1166 "set default aes to 128 not 256"
256 keysize isn't well supported, switch it to 128 when not specified.

[2018-09-03 17:46] #1166 closed

[2018-09-03 21:53] cchandler opened #1168 "getmanufec for Intel doesn't work with real hardware?"
I'm cross posting this issue because I'm having some difficulty tracking down the actual problem.

https://github.com/MinnowBoard-org/bugs-and-help/issues/108#issuecomment-418196750

I've got a minnowboard with an fTPM enabled and working with a few modifications (I need some free time to open some PRs...). Unfortunately, I can't get Intel's ekops service to return anything other than a 404 for an

[2018-09-04 12:09] truschival opened #1169 "tpm2_createek without context handle segfaults"
Leaving out the context command line argument `-c ` to `tpm2_createek` causes the program to segfault on Debian Stretch with tpm_server simulator (ibmtpm1119).

Steps to reproduce:
[code]
In a quick investigation I found line 307 of tpm2_createek.c  (in function `tpm2_tool_onrun`) as the cause of the segfault.
[code]

I think if a context is required, it should be a mandatory parameter or if it is

[2018-09-04 12:45] joshuagl commented on #1169
Good catch. The --context/-c is optional, so we need to ensure the variable is set before trying to access it. Fix incoming.

[2018-09-04 14:43] williamcroberts commented on #1168
@idesai might be more knowledgeable on this.

[2018-09-04 14:45] #1169 closed

[2018-09-04 17:17] idesai commented on #1168
@cchandler the fTPM generation on minnow board (Intel (R) Baytrail SOC or Intel Atom® Z3700 Processor Series) is an older generation where EK certificates are not hosted by Intel. You can get this feature on newer generation fTPM on newer SOC Intel Atom® Processor E3900.

[2018-09-05 02:51] #1168 closed

[2018-09-05 13:24] martinezjavier opened #1171 "tpm2-tools 3.X doesn't honor the TPM2TOOLS_* env vars to configure the TCTI"
In master, the environment variables that are used to choose a TCTI and their properties were changed to use a single `TPM2TOOLS_ENV_TCTI` env var.

But this change landed into the `3.X` branch as well as commit ac9a5d787753 ("update to TSS version 2.0"). The idea of tpm2-tools 3.X was to maintain backward compatibility for the CLI users, but changing how the TCTI is definitely a regression in tha

[2018-09-07 15:12] joshuagl opened #1174 "Create integration test for environment variables"
We accidentally broke some of our TCTI configuration environment variables, as reported in #1171. It would be useful to develop integration tests which check they are working as expected.

[2018-09-07 15:21] vilemmarsik opened #1175 "tpm2_getcap prints properties as TPM2_PT_* instead of TPM_PT_* in 3.X branch"
For my TPM2 device, identified in dmesg as "tpm_tis MSFT0101:00: 2.0 TPM (device-id 0xFE, rev-id 2)", kernel 3.10.0-944.el7.x86_64, and tpm2-tools-3.0.4-1.el7.x86_64, tpm2_getcap prints "TPM_PT_..." instead of "TPM2_PT_...", e.g.:
TPM_PT_HR_NV_INDEX:          0x0000000c
TPM_PT_HR_LOADED:            0x00000000
...
Regular expressions  in test/system fail on this.
Adding a patch to make things work

[2018-09-07 15:26] vilemmarsik commented on #1175
My patch:
[code]

[2018-09-07 16:25] martingalvan opened #1176 "tpm2_dump_capability not working on latest Ubuntu"
Hi all,

I have an Infineon SLB9665 chip, which supports TPM 2.0. I'm trying to do a capability dump, and am always getting the same error:

[code]

(I guess it would be good to use tpm2_error_str there)

I'm running Ubuntu 18.04. I'm aware that tpm2_dump_capability was renamed to tpm2_getcap in version 3, but the tpm2-tools package that comes with Ubuntu 18.04 seems to be version 2.1.0 according

[2018-09-10 13:09] martinezjavier commented on #1175
@vilemmarsik I think you found a regression in the 3.X branch.

The tpm2_getcap output doesn't comes from the TPM chip but instead is printed by the tool. But commit ("ac9a5d787753 update to TSS version 2.0") replaced all the `TPM_PT_*` occurrences by `TPM2_PT_*` which is a non-backward compatible change. I'll change the issue subject to better reflect that.

Having said that, I think you should c

[2018-09-12 18:18] martinezjavier commented on #1175
This has been fixed by commit 3598de590a7, it's just that Github only closes it automatically for commits that land in the master branch.

[2018-09-12 18:18] #1175 closed

[2018-09-13 11:19] #1171 closed, assigned to joshuagl

[2018-09-18 05:43] AshithPolepalli commented on #1137
@williamcroberts @tstruk can you help me out on the issue, it still persists.

[2018-09-20 20:54] williamcroberts commented on #518
@PeterHuewe we did. Their was some licensing issues at first and most of the design was quite limited. So we started a new one, but would like to consolidate the communities at some point and get folks working together. You can see our new, in progress tpm2-pkcs11 project here: https://github.com/tpm2-software/tpm2-pkcs11

[2018-09-21 01:33] xyzhao2018 opened #1178 "tpm2-tools-3.1.2/test/system/test_tpm2_activecredential.sh failed because of print format error"
In tpm2-tools-3.1.2/test/system/test_tpm2_activecredential.sh
Line 76: print doc['loaded-key']['name']  should be updated into print (doc['loaded-key']['name']).
Otherwise the following error will pop up:
-  File "<stdin>", line 4
    print doc['loaded-key']['name']
            ^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print(doc['loaded-key']['name'])?
loaded_key_name_yam

[2018-09-21 01:44] YadongQi opened #1179 "/fatal: not a git repository (or any of the parent directories): .git"
https://github.com/tpm2-software/tpm2-tools/blob/2dde72c8295b01629036ad7b6f9531b4c4523cb3/test/system/test.sh#L91

Better not use "git ls-files" to check leftover files, because the release package is not a GIT.

[2018-09-21 12:32] joshuagl commented on #1178
Issues that affected Python3 compatibility were resolved in the master branch via #1133 but not backported to 3.X as that has a different test harness.

[2018-09-21 12:33] joshuagl commented on #1179
This has been changed in the newer test harness we have in the master branch. It would likely be useful to fix in the 3.X branch for the current stable series.

[2018-09-24 15:59] #854 closed

[2018-09-25 15:49] #1178 closed

[2018-09-26 22:26] ismaws opened #1182 "Tool arguments divergence"
tpm2-tools versions change the way TPM commands are parsed e.g.:

version="3.0.2-685-g119c29e" vs  version="3.0.1" - ERROR: Unknown Argument: a

this breaks scaling out tools and automation based on these utilities. Is there any convergence expected around argument parsing?

[user@flakes scripts]$ sudo tpm2_createprimary -v
tool="tpm2_createprimary" version="3.0.2-685-g119c29e" tctis="dynamic" tct

[2018-09-27 00:13] ismaws commented on #1182
inversely:

[user@purley ~]$ sudo tpm2_createprimary -v
tool="tpm2_createprimary" version="3.0.1" tctis="tabrmd,socket,device,"

[user@purley ~]$tpm2_createprimary -H o -g sha256 -G ecc -C context.out
ObjectAttribute: 0x00030072

CreatePrimary Succeed ! Handle: 0x800000ff

___________________________

[user@flakes ~]$ tpm2_createprimary -v
tool="tpm2_createprimary" version="3.0.2-685-g119c29e" tct

[2018-09-27 15:07] williamcroberts commented on #1182
When I first took over the project, their was no consistency between tool options between tools and options were usually always required. As we moved forward with making the tools more usable we identified two areas to focus on among others:
1. Consistent tool options across tool groups and ideally across tools.
2. Making the tools smart enough to have sane defaults and remove the amount of requir

[2018-09-27 15:07] #1182 closed

[2018-09-27 20:11] ismaws commented on #1182
thanks for clarifying and set expectations!

[2018-09-27 20:46] joshuagl commented on #1151
I've a patch to make this change, however before I create a PR I need to look at the output of analyze.py and ensure we're doing the right thing.

[2018-09-30 08:13] xyzhao2018 opened #1183 "Please change auth seperately in tpm2_takeownership.c, because test_tpm2_takeownership.sh will report fail if the auth of TPM2_RH_LOCKOUT has already been set."
In tpm2_takeownership.c, the auth of TPM2_RH_OWNER, TPM2_RH_ENDORSEMENT and TPM2_RH_LOCKOUT will be changed together in one call. But it will report error when TPM2_RH_LOCKOUT has been set that test case test_tpm2_takeownership.sh will fail.
Considering the following step:
1. change TPM2_RH_LOCKOUT auth, successfully.
$ tpm2_takeownership -l newpswd
2. change TPM2_RH_OWNER auth, failed for the err

[2018-10-01 05:43] Nilesh-Deshmukh opened #1184 "tpm2_policyauthorize man page"
Hi,

While testing the tpm2_policyauthorize command as per man page tpm2_policyauthorize.1.md observed few errors.  Need to make the following changes to run the test successfully.
Request you to review the changes.

1.	Need to change the hierarchy from null to owner since tpm2_verifysignature  do not create the verification ticket when hierarchy is null

requred changes:
openssl genrsa -out signi

[2018-10-01 13:42] joshuagl commented on #1183
Sounds like it's possible to receive a TPM with the dictionarylockout already set. We should likely perform each change_auth() call separately, as is done in `tpm2_changeauth.c` in the master branch.

[2018-10-01 13:43] joshuagl commented on #1184
Thanks for the report. We'd be happy to take a patch for this if you care to create a pull request, otherwise I can verify and make the requested changes.

Can you confirm which version of tpm2-tools you are using.

[2018-10-03 11:13] joshuagl commented on #1184
tpm2_policyauthorize doesn't exist on the 3.0.X branch from which a 3.0.2 release would be built. Can you tell us which branch you cloned to build your copy of tpm2-tools?

[2018-10-04 02:49] Nilesh-Deshmukh commented on #1184
Hi,

I have cloned the master branch for my testing,
:~/TPM/tpm2-tools$ git branch
* master

I can see commit id of tpm2_policyauthorize in git log.

commit 565502437e2ca36ab5ff451dfcff6616d5dd7637
Author: Imran Desai <imran.desai@intel.com>
Date:   Wed Sep 19 13:57:47 2018 -0700

    Update tpm2_policyauthorize.1.md

    Update tpm2_policyauthorize.1.md

commit cbb35827728342ef8ac9175127e9241db3d

[2018-10-04 11:14] joshuagl opened #1189 "tpm2_changeauth should be able to change the auth value for a loaded TPM object"
tpm2_changeauth should be able to change the authorisation values for loaded tpm objects.

[2018-10-04 18:45] williamcroberts opened #1191 "tpm2_import manpage has all algorithms specified"
The manpage for tpm2_import lists all the various algorithm specifiers even though only rsa, aes and ecc are supported. Correct this.

[2018-10-05 08:18] AshithPolepalli opened #1192 "Initial passwords for tpm2"
I have a new NUC8i7HVK, i tried to take ownership for TPM2 and faced with an error,

tpm2_changeauth --owner-passwd=hello123 --endorse-passwd=hello123 --lockout-passwd=hello123
ERROR: Tss2_Sys_HierarchyChangeAuth(0x98E) - tpm:session(1):the authorization HMAC check failed and DA counter incremented
ERROR: Unable to run tpm2_changeauth

What will be the initial passwords? How can i resolve the issu

[2018-10-05 12:39] electrickite commented on #1189
Similarly, being able to change the authPolicy would be very useful in addition to the authValue. I have found it fairly common to need re-create an object in order to update its PCR policy.

[2018-10-05 13:00] electrickite opened #1193 "Add exit codes"
When using tools in scripts or non-interactive scenarios, it would be very helpful to return more detailed exit codes. Currently the majority (all?) tools return 0 on success and 1 on any type of failure.

In order to implement branching logic or error messages based on the type of failure, as far as I know the only way to determine the specific error is to capture stderr and grep the output for e

[2018-10-05 14:17] electrickite opened #1194 "Interactive password prompt"
It would be helpful to have the option of entering passwords interactively when needed. This would

  1. Prevent cleartext passwords form being exposed in command line arguments
  2. Ease the use of tpm2-tools in interactive scripts

Perhaps the option to prompt could be built into the minilanguage? Or the tool could detect when a password is required and prompt if one is not supplied?

[2018-10-05 16:15] joshuagl commented on #1194
Nice idea, I wonder whether we can use pinentry from GNUPG

[2018-10-05 16:16] joshuagl commented on #1193
This sounds like a nice idea. If we're going to make this change we should do it before our 4.x release as it'll effectively be a part of the ABI (and we're trying to stabilise and freeze interfaces ahead of 4.x).

[2018-10-05 18:18] electrickite commented on #1193
@williamcroberts Yes, a full mapping would likely not be possible.

One example from a recent project: The script attempts to unseal a TPM object (or access an NVRAM area) using a PCR policy. If the unseal fails, the tool responds with an exit code of 1. We might guess the reason was a PCR value change, but it could be any number of things from a TCTI communication error to a malformed PCR bank sp

[2018-10-07 00:19] strongerwill opened #1195 "No package 'sapi" found"
I have read the related issue (https://github.com/tpm2-software/tpm2-tools/issues/764) I think I got a new issue for the above error msg.

I compiled tpm2-abrmd
[code]
and tpm2-tss
[code]
And attemp to compile the tpm2-tools with the following commands:

[code]
During the step `/configure --prefix=/usr`, I got the following error msg:

[code]

Addition points:
1) The PKG_CONFIG_PATH environment va

[2018-10-08 09:48] joshuagl commented on #1195
Help requests like this are better handled on the mailing list: https://lists.01.org/mailman/listinfo/tpm2

The pc file for the SAPI is _tss2-sys.pc_, which will have been installed as part of the build/install of tpm2-tss. It's likely that your system's default install location isn't included in the default `PKG_CONFIG_PATHS`. You should find where tpm2-tss was installed to (probably /usr/local/l

[2018-10-08 09:48] #1195 closed

[2018-10-08 17:12] #1150 closed

[2018-10-09 15:13] #863 closed

[2018-10-15 13:10] lukehinds commented on #1192
There are no initial passwords.

It looks like someone has already taking ownership of the TPM. Can you not do a TPM clear in the units bios?

[2018-10-17 00:09] williamcroberts commented on #1194
I like the idea of being in the mini-language. Perhaps `prompt:` A bit awkward but it avoids having to deal with a password of `prompt:`. or perhaps `-:` for a password prompt.

If the tool detected it, it would be an RC of TPM2_RC_AUTH_FAIL and then prompt and retry if the TPM2B_AUTH size is 0.

I could go either way and am easily swayed by logical arguments.

[2018-10-17 10:20] AndreasFuchsSIT opened #1200 "Building against OpenSSL_1_0_2-stable fails with unused-value"
While fighting travis I stumbled across a `error: value computed is not used [-Werror=unused-value]`
I assume it's an OpenSSL-Macro-Error, so a pragma around it should fix this.

See details at: https://travis-ci.org/AndreasFuchsSIT/tpm2-tss-engine/jobs/442603207

I have not reproduced it outside of this travis environment though...

[2018-10-17 15:32] williamcroberts commented on #1200
@AndreasFuchsSIT - submitted a patch. I couldn't reproduce it either.

[2018-10-17 16:16] AndreasFuchsSIT opened #1202 "Clang build fails with missing-field-initializer"
I don't know why this never poped up before, but see:
https://travis-ci.org/AndreasFuchsSIT/tpm2-tss-engine/jobs/442753045

[2018-10-22 08:09] anhk commented on #833
any progress?

[2018-10-22 15:47] williamcroberts opened #1206 "tpm2_createprimary: rsa default incorrect"
As initially reported in this thread: https://github.com/tpm2-software/tpm2-pkcs11/issues/52

The man page for [tpm2_createprimary](https://github.com/tpm2-software/tpm2-tools/blame/master/man/tpm2_createprimary.1.md#L54) states that the default algorithm is `RSA` when it is really [rsa2048:aes256](https://github.com/tpm2-software/tpm2-tools/blob/master/tools/tpm2_createprimary.c#L58).

We should

[2018-10-22 17:08] williamcroberts commented on #833
Nothing yet

[2018-10-23 15:51] williamcroberts opened #1212 "format: support ECC output"
Support ECC output:
[code]

[2018-10-25 14:05] denizea opened #1216 "Compute message hash failed !"
Hi there,
I have started to work with tpm2_sign command. In order to sign I need to hash the file first. I have followed [this web page](https://dguerriblog.wordpress.com/) which was very useful.
However, I am running following codes
`rm *.bin *.raw && tpm2_hash -H e -g 0x00B -I message.txt -o hash.bin -t ticket.bin && tpm2_sign -k 0x81010010 -g 0x000B -m message.txt -s sign.bin -t ticket.bin && d

[2018-10-25 15:13] williamcroberts commented on #1216
Im not sure what version of the tools that post was created against and what version you're using. I would recommend not using stuff in package managers as it tends to be super out-dated.

On tpm2-tools 3.X and master you can just sign the message and it will compute the hash for you. Our test cases are under tes/integration are good examples.

I am closing this, as this is a support question and

[2018-10-25 15:13] #1216 closed

[2018-10-25 15:13] #1212 closed

[2018-10-25 18:39] williamcroberts opened #1217 "PEM: support encrypted pem files"
Support reading password protected PEM files for tpm2_import and tpm2_loadexternal.

[2018-10-30 11:31] #1217 closed

[2018-11-05 17:48] mrcdb opened #1229 "tpm2_create issue for RSA/ECC keys with restricted object attribute"
I am trying to create some ECC keys in the owner hierarchy with the 3.1.3 release of the tool.

First, I create a restricted encryption key as follows and store its context:
[code]
The command succeeds, and I get an handle as well.
Then, I try to  generate either child restricted asymmetric signing and decryption keys with the following commands:
[code]
In both cases, I get error code `0x2c2`, whi

[2018-11-05 20:10] williamcroberts commented on #1229
A bit of lore for 3.X:
https://github.com/tpm2-software/tpm2-tools/commit/352908f7470338aba858a9ac20c1c5ec608b661c

So you're attributes are getting mixed in with stuff:
#define DEFAULT_ATTRS \
     TPMA_OBJECT_DECRYPT|TPMA_OBJECT_SIGN_ENCRYPT|TPMA_OBJECT_FIXEDTPM \
    |TPMA_OBJECT_FIXEDPARENT|TPMA_OBJECT_SENSITIVEDATAORIGIN \
    |TPMA_OBJECT_USERWITHAUTH

A check in the TPM simulator in functio

[2018-11-05 20:11] williamcroberts commented on #1229
Please use the mailing list for support.

[2018-11-05 20:11] #1229 closed

[2018-11-05 22:35] joshuagl opened #1233 "Add integration test for `-T`/`--tcti` option"
The fix for #1171 in the 3.X branch broke the `-T` option. We should develop integration tests which check `-T` is working as expected.

[2018-11-05 22:40] williamcroberts commented on #1233
You'll probably have mock some part of the TCTI ldr interface, I think mocking `dlopen(3)` will cause some serious issues.

[2018-11-10 05:47] batyrchary opened #1236 "tpm2_getmanufec HTTP/1.1 404 Not Found"
I want to get certificate of EK from my TPM vendor.

To do that I create EK and AIK first.

then execute this command:

tpm2_getmanufec -O ak.pub -g rsa -E c6.cert -U https://ekop.intel.com/ekcertservice/ -V

and output is like this, sorry for long output, I just hope that you will be able to see sth that I missed

WARN: TLS communication with the said TPM manufacturer server setup with SSL_NO_VER

[2018-11-10 14:14] mrcdb opened #1237 "tpm2_createprimary: add unique to template"
I wonder if the `tpm2_createprimary` tool allows somehow to specify a unique value in the template (as described in the Part 3 - Commands specs, in addition to the object attributes. Is there a way to use this functionality with current version of the tool?

[2018-11-12 17:22] ba3aw opened #1238 "Problem with ressourcemanager / abrmd : ERROR: Could not load tcti, got: "device""
Hello,

i am testing tpm stack on a dell xps with a tpm2 integrated.
OS is ubuntu 18.04 LTS
kernel version: 4.15.0-36-generic

I have compiled  sources as described on the documentation,
i can start either abrmd or ressourcemanager services using systemd,

the problem is that when i execute simple command with the ressource manager or abrmd started i get this error:

[code]

without a abrmd or res

[2018-11-12 21:11] williamcroberts commented on #1236
Imran,
Any idea?

[2018-11-13 17:00] ba3aw commented on #1238
hi i just applied what was mentionned here:

https://github.com/tpm2-software/tpm2-tools/blob/master/man/common/tcti.md

[code]

[code]

tabrmd is well starting but i can only execute command with the device mode  ...

any idea about the problem ?

kind regards.

[2018-11-13 17:04] williamcroberts commented on #1238
Where is the shared library installed for the tabrmd tcti? Did you install from source?
You may have to run sudo ldconfig to update the dynamic linker metadata cache.

[2018-11-13 17:08] ba3aw commented on #1238
yes, i have installed from sources,

but i can only see this shared  libraries:

[code]

[2018-11-13 17:11] ba3aw commented on #1238
my bad, i can see also these ons:

/usr/lib64/libtss2-tcti-tabrmd.a
/usr/lib64/libtss2-tcti-tabrmd.la
/usr/lib64/libtss2-tcti-tabrmd.so.0.0.0
/usr/lib64/libtss2-tcti-tabrmd.so
/usr/lib64/libtss2-tcti-tabrmd.so.0

[2018-11-13 17:17] ba3aw commented on #1238
you are right, i missed to add the good path on my ldconfig, problem is solved and it was a configuration one, many thanks.

[2018-11-13 17:17] #1238 closed

[2018-11-14 17:47] idesai commented on #1236
May be the weblink when nuvoton certs are hosted is   http://www.nuvoton.com/security/NTC-TPM-EK-Cert/<http://www.nuvoton.com/security/NTC-TPM-EK-Cert/Nuvoton>

From: William Roberts <notifications@github.com>
Reply-To: tpm2-software/tpm2-tools <reply@reply.github.com>
Date: Monday, November 12, 2018 at 2:12 PM
To: tpm2-software/tpm2-tools <tpm2-tools@noreply.github.com>
Cc: Subscribed <subscribed

[2018-11-14 23:54] idesai commented on #1237
This needs to be added. Meantime with existing tools, If you want to create multiple unique primary objects with same attributes, just use unique passphrase for each.

[2018-11-15 23:55] #843 closed

[2018-11-15 23:55] #851 closed

[2018-11-16 15:46] safayetahmedatge opened #1241 "Segmentation fault: Invalid opts argument to tpm2_tcti_ldr_load"
Invoking `tpm2_pcrlist` results in segmentation fault when there is no abrmd, or `/dev/tpm`, and the `TPM2TOOLS_TCTI` environment variable is not set.

Looking through the stack trace, tracked the problem to the following line:
https://github.com/tpm2-software/tpm2-tools/blob/ed4c389f71cf7f31d35cc9648785f8aea0534641/lib/tpm2_tcti_ldr.c#L131

The error print statement is trying to print `opts` and

[2018-11-16 18:23] idesai opened #1242 "Add support for nice names for command codes"
It would be nice to have a string CC support here, as well as a -l option to list all known CC and strings so people can use it in tools like tpm2_policycommandcode

[2018-11-16 22:43] williamcroberts commented on #1189
Fixed: https://github.com/tpm2-software/tpm2-tools/commit/ed4c389f71cf7f31d35cc9648785f8aea0534641

[2018-11-16 22:43] #1189 closed

[2018-11-16 22:43] williamcroberts commented on #1189
You can't. The policy digest is part of the public portion of an object thus changing it causes you to create a new object.

[2018-11-16 22:44] williamcroberts commented on #864
Fixed: https://github.com/tpm2-software/tpm2-tools/commit/d21e32b395124d227bab5aeefeadfe25fcc7dd25

[2018-11-16 22:44] #864 closed

[2018-11-16 22:46] williamcroberts commented on #857
closed: https://github.com/tpm2-software/tpm2-tools/commit/bf701a4c816f779217ebff52ebfa2c91c2211ae1

[2018-11-16 22:46] #857 closed

[2018-11-16 22:51] williamcroberts commented on #1241
IIRC and IIUC: Yes and yes

[2018-11-16 22:52] williamcroberts commented on #1241
On linux `printf("%s\n", NULL);`  is valid. I see other PR's for QNX, maybe that's different? Or is the pointer just not initialized and pointing off into never-never land?

[2018-11-16 23:02] safayetahmedatge commented on #1241
Thanks @williamcroberts. Yes, I'm trying to build for QNX. In that case, I can make the changes to check for `opts==NULL` before printing it. I'll include it in the existing PR (https://github.com/tpm2-software/tpm2-tools/pull/1243).

[2018-11-16 23:04] williamcroberts commented on #1241
@safayetahmedatge that stuff is probably pervasive i'd suggest a safe macro like:

tpm2_utils.h:
[code]
any_code.c:
[code]
Comment that macro so we know to keep it around and why we added it.

[2018-11-16 23:17] safayetahmedatge commented on #1241
As a rough estimate, I just ran `grep -R %s $(find . -name \*.c) | wc -l` and got back `322`. Should this be one commit?

[2018-11-17 03:08] williamcroberts commented on #1241
@safayetahmedatge you can do it as one commit for that. Seems fine.

[2018-11-17 12:35] PaulKissinger opened #1247 "Compile fails in tpm2_hash.c"
Hardware: RaspberryPi 3b+
Linux: Raspbian Stretch
uname -a:

gcc --version:

configure:

results in:

[2018-11-18 15:52] PaulKissinger commented on #1247
Fix to solve this issue:
[PR:#1248](https://github.com/tpm2-software/tpm2-tools/pull/1248)

[2018-11-20 10:05] mrcdb commented on #1237
Thanks for the help. It is a reasonable workaround to do some tests...

[2018-11-20 10:05] #1237 closed

[2018-11-21 07:19] ShanyYang opened #1249 "Policy "AND""
Hi
Do you have any idea about more than 1 policy on one entity?

For instance:
 I want to define a NV(size=8), this Nv space can only be write once and read infinitely with password. So the policy may looks like: `PolicyCommandCode(NV_Write) AND PolicyNvWritten(0)` OR `PolicyCommandCode(NV_Read) AND PolicyPassword`.

Will you write tools about these kind of scenarios? or some basic support functio

[2018-11-26 05:48] idesai commented on #1249
For OR use tpm2_policyor tool. As for AND you can start the session and use that session as an input for policy tools. NV policies will be supported soon.

[2018-11-26 15:11] #1247 closed

[2018-12-07 18:47] Nilesh-Deshmukh opened #1257 "ECC algorithm is not working in tpm2_createprimary command."
Hi,

I am using the TPM SLB 9665TT2.0 Infineon ’s chip which supports ECC algorithm.
https://www.infineon.com/cms/en/product/security-smart-card-solutions/optiga-embedded-security-solutions/optiga-tpm/slb-9665tt2.0/

When I try the create the primary key using ECC algorithm, command failed with below error;
root@sjm-Default-string:/home/sjm# tpm2_createprimary -A e -g sha256 -G ecc -o primary.cont

[2018-12-09 12:38] miraelim opened #1259 "test_tpm2_quote.sh result is fail"
I got an error when I did test_tpm2_quote.sh
when I simply did tpm2_quote -k 0x81010004 -G sha1 -l 16,17,18 -m message.txt -s sign.txt, it did not return any thing.
but, when I see echo $?, it printed 1 ( it means fail) and the sign.txt and message.txt did not created.
how do i solve it?

[2018-12-11 22:40] dnoliver opened #1260 "tpm2_unseal: unrecognized option '--context-object=0x81010001'"
I am using latest master versions of tpm2-tools, tpm2-tss, and tpm2-abrmd, with a firmware tpm device.

`tpm2_unseal` does not recognize the `--context-object` with a handle.

Workaround: `tpm2_unseal -c 0x81010001` works well, it seems to only be a problem with the long parameter format

[2018-12-19 16:05] joshuagl commented on #390
I'm seeing similar leaks in a lot of the tools in the ESAPI branch #1239. I think this is an issue that's resolved in newer OpenSSL, at least I can't reproduce on Fedora 29 (OpenSSL 1.1.1) and I've found some OpenSSL issues which seem relevant i.e. openssl/openssl#3128 & openssl/openssl#3033

Where does our Dockerfile live? I'd like to try updating the base OS to a version with newer OpenSSL and s

[2018-12-19 16:16] williamcroberts commented on #390
I never created a docker file, I just modified an image and pushed it to Dockerhub directly.
That was probably a poor choice on my part.

[2018-12-20 17:07] williamcroberts opened #1262 "move to config.h"
Use a config header vs command line arguments so we don't overflow the command line length.

[2018-12-28 13:33] ddhawal opened #1264 "Unable to generate valid AIK public key from response of tpm2_getpubak"
We are unable to generate valid AIK public key with tpm2-tools 3.0.4 (present in redhat repository). We are using resource manager with this upgrade, earlier we used to use trousers with tpm2-tools 1.3.8.

**Request**
`   # tpm2_getpubak -e hex:_ -o hex:_ -P hex:_ -E 0x81010000 -k 0x81018000 -f /tmp/aik.pub -n /tmp/aikname -g 0x1 -s 0x14 `

read /tmp/aik.pub in credRequest

**Code which was workin

[2018-12-29 10:18] ddhawal commented on #1264
![generateaikoutputcomparison](https://user-images.githubusercontent.com/37170182/50537035-0d19eb80-0b81-11e9-9ce3-eb636669d22e.png)
As attached, there is a change in format of generated aik blob from latest tpm2-tools. We need to read bytes from 26 to 26 + 256 (size of key).

[2018-12-29 10:18] #1264 closed

[2018-12-31 15:16] williamcroberts commented on #1264
If you use the latest tpm2_creataek, which replaced tpm2_getpubak,  you can just use the format option as well. It's a shame that didn't make it into the 3.0.4 release, most of the work was there:
https://github.com/tpm2-software/tpm2-tools/blob/3.0.4/tools/tpm2_getpubak.c#L385

[2019-01-03 17:39] celesteking opened #1266 "tpm2_nvreadlock: support policy session"
Please, add policy support to this tool, the same as with nvread/write.

`tool="tpm2_nvreadlock" version="3.1.3"`

**Update**: workaround found
[code]

[2019-01-03 18:22] celesteking commented on #1193
It would also be wonderful if you could add automatic decoding of returned codes. Currently, I have to use `tpm2_rc_decode` constantly in order to understand what's up. Via a special option or an ENV var, doesn't matter. No output when command succeeds and a decoded output if there's an error.

[2019-01-11 01:07] pramodrj07 opened #1271 "tpm2_createprimary fails for latest stable version"
HI all,

I have complied the latest version of the tools, tss and abrmd as per the below matrix.

https://github.com/tpm2-software/tpm2-tools/wiki/Dependency-Matrix

Components - tpm2-tools version | tpm2-tss version | tpm2-abrmd version
Versions - 3.1.0 | 2.0.0 | 2.0.0

tpm2_createprimary -A e -K xyz123 -g 0x000b -G 0x0001 -C po.ctx -P xyz123
ERROR: Unable to run tpm2_createprimary

Can anyone te

[2019-01-11 02:13] xyzhao2018 opened #1272 "The typo in the following test script."
**sealing_key.ctx** in the following line should be **sealing_key.context**.

unsealed=tpm2_unseal -p"session:session.ctx" -c sealing_key.ctx

[2019-01-11 10:53] joshuagl commented on #1233
See also #1269 for further breakage which should be covered by the test.

[2019-01-11 10:53] #390 closed

[2019-01-11 11:09] joshuagl commented on #1272
Thanks for the report. I'll fix that in `man/tpm2_policyauthorize.1.md`

[2019-01-11 15:06] joshuagl commented on #1271
I think you must be looking at a newer example/man page. In 3.1.0 the short form of the _hierarchy_ option is **-H**, i.e.

Please note, per the [README.md](https://github.com/tpm2-software/tpm2-tools/blob/master/README.md) we don't handle support requests here on Github. In future please direct queries to the mailing list: https://lists.01.org/mailman/listinfo/

[2019-01-11 15:06] #1271 closed

[2019-01-14 15:41] #1272 closed

[2019-01-14 16:43] diabonas opened #1278 "Building without --gc-sections breaks unit tests"
Trying to build the current master or the latest release 3.1.3 with `--gc-sections` disabled results in linking failures when running the unit tests: this can be reproduced e.g. by using
[code]
which results in the following error:
[code]
This was discovered by chance in tpm2-tools 3.1.3 by the Arch Linux reproducible build scripts, see the [log of the failing build](https://tests.reproducible-bui

[2019-01-16 16:00] kaizhic opened #1281 "NV write/read with authorized policy"
Hello everyone,

I'm trying to write/read a NV area which was defined with a policy output from tpm2_policyauthorize:

tpm2_policyauthorize -S session.ctx -o authorized.policy -f pcr.policy -n signing_key.name
tpm2_nvdefine -x 0x1500001 -a 0x40000001 -s 32 -t "policyread|policywrite" -L authorized.policy
tpm2_nvread -x 0x1500001 -s 32 -L sha256:8 -o 0

ERROR: Failed to read NVRAM area at index 0x1

[2019-01-16 16:16] williamcroberts commented on #1281
+tpm2 mailing list. In the future direct questions there.

I'm assuming you're setup steps would be here and you're just showing the attempt
To define a new space with the policy.

On master, I am seeing no way to pass the authorizing session context to tpm2_nvread. The options to
NV read for PCR policy satisfaction are all internal, and quite limited in support.

You really would want something l

[2019-01-16 16:16] #1281 closed

[2019-01-16 19:42] #1278 closed

[2019-01-17 16:11] #853 closed

[2019-01-17 19:09] jhand2 commented on #303
@martinezjavier If the damage is already done, how to I clear NVRAM and get my TPM back in a working state? I've tried `tpm2_flushcontext` with -s, -l, and -t options. But still with every command I run, I get "out of memory for object contexts" event when using tabrmd or in-kernel rm

[2019-01-17 19:52] williamcroberts commented on #303
-t and -l and -s will only flush the transient, loaded and active sessions respectively. Did you make a bunch of persistent objects? Everything else would go away on TPM reboot (ie power off and on), thus I think the only way you could be in this state is if everything is persistent object.

You can try to flush specific objects out by handle, flush everything reported by:
[code]
I'd be interested

[2019-01-18 09:16] leeehui opened #1283 "missing tools (policy related)"
I found the following policy related tools are not in the "missing tools" milestone:
policyphysicalpresence
policynamehash
policylocality
policyduplicationselect

and the following policy related tools are available, but they are still in "missing tools"
policyrestart
policypcr

[2019-01-18 18:57] williamcroberts commented on #866
861fe796aa802

[2019-01-18 18:57] #866 closed

[2019-01-18 18:58] williamcroberts commented on #865
e811be09d5a9f533780ae473bd9098ce7aa71c18

[2019-01-18 18:58] #865 closed

[2019-01-18 18:58] williamcroberts opened #1284 "implement policyphysicalpresence"

[2019-01-18 18:59] williamcroberts opened #1285 "Implement policynamehash"

[2019-01-18 18:59] williamcroberts opened #1286 "Implement policylocality"

[2019-01-18 18:59] williamcroberts opened #1287 "Implement policyduplicationselect"
policyduplicationselect

[2019-01-18 19:00] williamcroberts commented on #1283
Thanks, I updated everything.

[2019-01-18 19:00] #1283 closed

[2019-01-21 17:07] GaelGuegan opened #1288 "Test Failed: EncryptDecrypt"
Hello everyone,

I have succeeded to install the tools and use it.
Although I have been able to perform RSA encryption, I still am having some trouble to do AES symmetric encryption.

The test script : "test/integration/encryptdecrypt.sh" failed.
In a first time, it tell me that my TPM **does not have the AES capability** :
[code]

And if I comment this portion of code, it fails at the `tpm2_encry

[2019-01-21 17:14] williamcroberts commented on #1288
The symmetric encryption interface is not always supported, and thus if you don't see it in your TPMs command interface as reported by getcap, it's not supported. The spec provides for many optional interfaces, and symmetric encryption is one of them.

For questions like these, the mailing list as documented in the README is the correct avenue.

[2019-01-21 17:14] #1288 closed

[2019-01-24 22:56] williamcroberts opened #1289 "tpm2_changeauth options"
tpm2_changeauth has some weird options... it allows for the setting of all the hierarchies or an object handle, I would recommend collapsing this interface into something simpler (ie one hiearchy or object at a time).

I'm not 100% on what a sane interface would look like.

Also -a is the parent object when changing an object, which it should probably be -C to be consistent.

[2019-01-25 13:57] joshuagl commented on #1289
Whilst we're at it we can overhaul the long options and the manual page for the new ESAPI world.
We will need to do a more general explicit long-option and manual page review for the ESAPI changes.

[2019-01-26 13:37] Richardds opened #1291 "aminclude_static.am: No such file or directory"
I am trying to get my TPM working using [this](https://github.com/tpm2-software/tpm2-tools/wiki/Getting-Started) guide. After `./bootstrap` I get this error: `automake: error: cannot open < aminclude_static.am: No such file or directory`

Log:
[code]

[2019-01-28 12:32] diabonas commented on #1291
This is a problem with the project tpm2-tss which is already reported upstream, see https://github.com/tpm2-software/tpm2-tss/issues/1255. A fix is suggested in https://github.com/tpm2-software/tpm2-tss/pull/1256.

[2019-01-29 06:15] RaymWong opened #1294 "unable to release NVM Index under owner authorization"
1.) Steps to produce:
tpm2_changeauth -o owner123 -e endorsement123 -l lockout123
tpm2_nvdefine -x 0x1500016 -a 0x40000001 -s 32 -t 'ownerwrite|ownerread|nt=0x0' -P owner123
tpm2_nvrelease -x 0x1500016 -a 0x40000001 -P owner123

2. Error Message:
WARNING:esys:src/tss2-esys/api/Esys_NV_UndefineSpace.c:301:Esys_NV_UndefineSpace_Finish() Received TPM Error
ERROR:esys:src/tss2-esys/api/Esys_NV_Undefin

[2019-01-30 05:36] RaymWong opened #1296 "tpm2_createak issue when auth-endorse value is set"
Seems like the tool no able to generate AK key when the endorsement auth value is set.

1. Steps to reproduce
tpm2_clear -p
tpm2_changeauth -e endor123 -l lockout123
tpm2_createek  -e endor123 -c 0x81010001 -G rsa -p ek.pub
tpm2_createak -e endor123 -C 0x81010001 -k 0x81010002 -G rsa -p ak.pub -n ak.name

2. Error Messages:
WARNING:esys:src/tss2-esys/api/Esys_PolicySecret.c:379:Esys_PolicySecret_F

[2019-01-31 01:08] jhand2 opened #1297 "[tpm2-tools] Question about generating EK"
Why do the two following commands generate different RSA keypairs?

As I understand it, generating a primary key under the endorsement hierarchy using the same algorithm should product the same key. This is because the same seed is used to generate both keys with the same parameters. Am I missing something about how the TPM generates these keys?

[2019-01-31 15:57] williamcroberts commented on #1297
Every parameter in the public portion has to be the same, likely some delta.

[2019-01-31 16:04] williamcroberts commented on #1297
Looks like one delta is that default auth policy
set_default_auth_policy

[2019-01-31 16:04] #1297 closed

[2019-01-31 16:10] jhand2 commented on #1297
@williamcroberts I guess at the root of the question is why would the auth policy change the public and private key pairs (maybe this is more of a generic tpm question than a tpm2-tools question).

I thought an EK should uniquely identify a TPM. Which would mean there is only one possible EK for a given tpm. I thought RSA key generation should only depend on the RNG seed, keylength, exponent.

[2019-01-31 16:16] williamcroberts commented on #1297
primary objects are different, given the same public parameters they will produce the same key every time.

Really the EK is like anything else, just an object. The other semantics are surrounding manufacturer level details, ie they provision the EK and then make the public key available (usually as an X509). So if you're creating the EK, your the manufacturer. Somewhere, somehow this should be ma

[2019-01-31 16:24] williamcroberts commented on #1297
Also, I tried re-enabling your list membership and sent an email to:
[code]
It got sent back to me, is your email correct? Please feel free to contact me at william.c.roberts (at) intel.com.

[2019-01-31 16:42] williamcroberts commented on #1297
According to the list interface you're subscribed.

[2019-01-31 16:49] jhand2 commented on #1297
Oh I think I know whats wrong. That email or an alias for a longer address. So I can recieve emails from the list but when I send emails it says it comes from the longer address. I'll subscribe the correct email.

Thanks!

[2019-02-04 13:02] joshuagl commented on #1291
Fix was merged into tpm2-tss

[2019-02-04 13:02] #1291 closed

[2019-02-04 19:28] Richardds opened #1302 "No package 'tss2-esys' found"
Fix was merged into tpm2-tss

_Originally posted by @joshuagl in https://github.com/tpm2-software/tpm2-tools/issues/1291#issuecomment-460242249_

Now i keep gettings following error after `./configure`:

[code]

[2019-02-04 20:17] joshuagl commented on #1302
You may need to set `PKG_CONFIG_PATH` if your tpm2-tss is installed in a non-standard path for your distro, or indeed update to a version of tpm2-tss which provides the ESAPI (added in version 2.0)

[2019-02-04 20:17] #1294 closed

[2019-02-04 20:17] #1296 closed

[2019-02-04 21:07] Richardds commented on #1302
What should `PKG_CONFIG_PATH` variable contain? Could you please provide an example? I am on Ubuntu 18.10 (4.18.0-13-generic).

Thanks

[2019-02-04 22:31] joshuagl commented on #1302
Per the README help requests are better handled on the mailing list: https://lists.01.org/mailman/listinfo/tpm2

It's likely that your system's default install location isn't included in the default `PKG_CONFIG_PATH`s. You should find where tpm2-tss was installed to (possibly /usr/local/lib) and add the pkgconfig subdirectory of that location to PKG_CONFIG_PATH, i.e.

[2019-02-04 22:31] #1302 closed

[2019-02-05 20:49] pandasauce opened #1306 "Persisted key does not survive reboot"
Followed the instructions here https://github.com/irtimmer/tpm2-pk11/wiki/Create-TPM-key to set up OpenSSH auth.

Creating and persisting the key:

[code]

This works with `tpm2-pk11` and OpenSSH.

Next, reboot:

[code]

And it no longer works with OpenSSH either, returning `C_Sign failed: 5`.

Other things I've tried:

1. Use the persistent handle `0x81010001` instead of `obj.ctx`, doesn't work
2

[2019-02-05 22:10] pandasauce commented on #1306
Interestingly, the same instructions (https://github.com/irtimmer/tpm2-pk11/wiki/Create-TPM-key) work on a different laptop with the same TPM. The only differences I managed to find are below.

Laptop where it works:

[code]

Where it doesn't:

[code]

[2019-02-08 08:27] RaymWong opened #1307 "Setting of platformauth value via tpm2_changeauth or new command"
Hi,
Currently the platformauth value is NULL after reboot.
This will allow any user to use tpm2_clear -p to clear the TPM easily.
It would be very useful to include the option to change the platformauth value via separate command or add one more option in the tpm2_changeauth command to set the platformauth value.
User may use this command during the boot cycle in Linux to set the platformauth valu

[2019-02-08 16:17] williamcroberts commented on #1307
tpm2_changeauth supports changing the platform hiearchy option via the -p|-P options.

[2019-02-08 16:17] #1307 closed

[2019-02-08 21:06] gblewis1 opened #1308 "Unable to create primary key with tpm2_createprimary -- "ERROR: Unable to run tpm2_createprimary.""
Tpm2-tools version: 3.1.3
Tpm2-tss version: 2.2.0
TPM: IBM TPM simulator version 974
Operating system: Ubuntu 16.04.5 LTS

Command: tpm2_createprimary --kalg=rsa --hierarchy=o --context=prim.ctx
Output: ERROR: Unable to run tpm2_createprimary

[2019-02-08 21:17] gblewis1 commented on #1308
Tpm2-abrmd version: 2.1.0

[2019-02-09 08:20] RaymWong commented on #1307
According to the examples  in man page, The tpm2_changeauth -p|-P options are used to modify the transient object auth value.
How could the -p|-P be used to change   platformauth value? Kindly advise. Many Thanks.

[2019-02-11 20:46] PeterHuewe opened #1311 "tpm2_getcap -c properties-fixed segfaults"
When I run `tpm2_getcap -c properties-variable` everything works, when I run `tpm2_getcap -c properties-variable` fixed the tool dies with a segault.

Running it in gdb points it to:
[code]
According to strace it seems to be a bit stuck in a loop:
[getcap.strace.txt](https://github.com/tpm2-software/tpm2-tools/files/2852970/getcap.strace.txt)

Tested with a physical tpm

[2019-02-11 20:53] williamcroberts commented on #1289
Also, #1307 also points out that their is no way to change platform auth value via the tool.

[2019-02-11 20:54] williamcroberts commented on #1307
That's because you're right and it cant :+1: Iv'e updated this ticket with that information so we when overhaul the tool we don't forget this: https://github.com/tpm2-software/tpm2-tools/issues/1289

[2019-02-11 21:06] williamcroberts commented on #1311
Interesting. I'm not sure how I can replicate the issue to fix it, would you like to send a patch up?

[2019-02-11 21:07] PeterHuewe commented on #1311
Please find the full esapi debug trace attached - maybe you can see it in there?
[tpm2_getcap.txt](https://github.com/tpm2-software/tpm2-tools/files/2853036/tpm2_getcap.txt)

[2019-02-11 21:15] PeterHuewe commented on #1311
It seems to be stuck at one single property:
[code]

[2019-02-11 21:39] PeterHuewe commented on #1311
What is interesting is that when entering the function, count is 127
`Thread 1 "tpm2_getcap" hit Breakpoint 1, tpm2_capability_get (ectx=ectx@entry=0x438400, capability=6, property=256, count=127, capability_data=0x7efff0e8, capability_data@entry=0x7efff0e0) at lib/tpm2_capability.c:92`

but after calling Esys_GetCapability count is **2130702480**

[code]

[2019-02-11 22:23] PeterHuewe commented on #1311
https://github.com/tpm2-software/tpm2-tools/blob/master/lib/tpm2_capability.c#L121 looks interesting.
Why is there only space for 1 element allocated? Shouldn't it be for the 'exisiting' + 'fetched' capabilities?

However even if I change it, my TPM returns endlessly "moredata" = 1

[2019-02-12 14:58] #832 closed

[2019-02-12 21:04] leonjia0112 opened #1313 "tpm2-simulator installation error"
Encounter error while installing tpm2 simulator during `make`.

[code]

[2019-02-13 13:40] webmeister commented on #1311
As far as I can tell, more things are broken in tpm2_capability_get than just this issue. @cplappert's patch fixes much of it, but for example it is still wrong to access data.algorithms.algProperties if capability != TPM2_CAP_ALGS.

I've got a patch that fixes all the issues I found. I'll upload it as soon as I manage to run some basic tests with it.

[2019-02-13 15:48] williamcroberts opened #1315 "tpm2_quote and tpm2_certify"
Change `-G` to `-g` to make consistent with other tools.

[2019-02-13 15:52] williamcroberts commented on #1313
This is an issue for the ibm project, not ours. I would assume its a compiler version issue. The easiest solution would be to change the `#define NOT_REFERENCED` to:
[code]

[2019-02-13 15:52] #1313 closed

[2019-02-13 17:14] leonjia0112 commented on #1313
Thanks for your hint. I will inquiry IBM for this error instead.

[2019-02-13 23:52] williamcroberts commented on #1308
Can you run it with `-V`?
Is this some intermittent issue?
We do most of our testing on these two distro versions.

[2019-02-14 00:19] gblewis1 commented on #1308
Output with -V is: ERROR on line: "168" in file: "tools/tpm2_tool.c": Unable to run tpm2_createprimary

Context for that line is:

    /*
     * Call the specific tool, all tools implement this function instead of
     * 'main'.
     */
    ret = tpm2_tool_onrun(sapi_context, flags) ? 1 : 0;
    if (ret != 0) {
        LOG_ERR("Unable to run %s", argv[0]);
    }

Our test setup is a little unusual

[2019-02-14 00:37] williamcroberts commented on #1308
The fact that it isn't throwing any other errors probably means a silent failure on dealing with options... i'd throw it in a debugger

[2019-02-14 00:49] gblewis1 commented on #1308
Note, same error in full VM (vagrant) test with TPM simulator.

No errors from tpm2-abrmd.  tpm2-abrmd2.service:

[code]

[2019-02-14 08:24] leeehui opened #1317 "ls"
I can't find the definition of
tpm2-tools/lib/files.h: bool files_load_public(const char *path, TPM2B_PUBLIC *public);
can anyone help? thanks

[2019-02-14 08:31] martinezjavier commented on #1317
@leeehui is in https://github.com/tpm2-software/tpm2-tools/blob/master/lib/files.c#L713.

Please use the mailing list for these questions instead of filing issues.

[2019-02-14 08:31] #1317 closed

[2019-02-14 08:35] leeehui commented on #1317
got it, thanks.

[2019-02-14 09:46] cplappert commented on #1311
That's true. The original software seemed to assume that all data was same length. We will now also fix this issue.

[2019-02-14 14:49] GaelGuegan opened #1321 "tpm2_encryptdecrypt : other mode than the persistent key"
When using the command : **tpm2_encryptdecrypt**, should we be able to cipher with a different mode than the one specified in the key ?

For example, if I have created a persistent **aes256cfb** :
[code]
This does not work ...
[code]
This works ...

Why the option -G exists, if it is to specified a mode already present in the key ?

[2019-02-14 17:51] gblewis1 commented on #1308
Adding --halg=sha256 fixed it.

This check failed in tpm2_createprimary.c failed:

  `if(ctx.flags.A == 1 && ctx.flags.g == 1 && ctx.flags.G == 1)`

This is contrary to the documentation which says a default hash algorithm of sha256 will be used if not specified, and it looks like this tool could use a more descriptive error message.

[2019-02-14 17:53] williamcroberts commented on #1308
Looks like a bug.

[2019-02-17 21:44] pandasauce commented on #1306
Confirmed this to be a Dell firmware issue on XPS 15, not caused by tpm2-tools.

[2019-02-17 21:44] #1306 closed

[2019-02-18 07:37] RaymWong opened #1323 "tpm2_rsaencrypt & rsadecrypt with handle number not working"
The **tpm2_rsaencrypt** and **tpm2_rsadecrypt** with handle number input seems not working
1.) Steps to re-produce
a.) Create primary key and user key
echo "1234567AAAA" > datain.txt
tpm2_clear -p
tpm2_changeauth -o owner123 -e endorsement123 -l lockout123
tpm2_createprimary -a o -P owner123 -p RSAprimary123 -g sha256 -G rsa -o RSAprimary.ctx
tpm2_create -C RSAprimary.ctx -P RSAprimary123 -p RSAle

[2019-02-21 22:22] #1311 closed

[2019-02-22 12:20] joshuagl commented on #1323
Thanks for the bug report. This was an oversight on my part when porting tpm2_tools to tss2-esys. I've proposed a fix in #1325

[2019-02-22 12:21] joshuagl commented on #1308
I think you're reading the documentation for a newer version, that assertion isn't made in the 3.X docs. I agree that this is undesirable behaviour and could use a more descriptive error message  - both of these issues have been resolved on the master branch.

[2019-02-23 01:00] xyzhao2018 opened #1326 "tpm2_policysecret fails when no auth passed"
The example shown in https://github.com/tpm2-software/tpm2-tools/blob/master/man/tpm2_policysecret.1.md has bug that no owner auth passed in the following command and result in the error.
$ tpm2_policysecret -S session.ctx -c $TPM_RH_OWNER -o secret.policy --tcti=mssim
WARNING:esys:src/tss2-esys/api/Esys_PolicySecret.c:379:Esys_PolicySecret_Finish() Received TPM Error
ERROR:esys:src/tss2-esys/api/

[2019-02-24 20:56] tomoveu opened #1327 "SAPI support removed?"
Hello,

My team and I are working on a R&D project, which started back in 2017 and throughout 2018 we used the _tpm2-tools_ with SAPI for testing. However, the latest commits on master replace SAPI with ESAPI, which breaks our testing. The commit messages contain no reasoning of this change and we are puzzled what is the technical motivation behind it.

Could you please explain why the SAPI suppor

[2019-02-25 08:02] GaelGuegan commented on #1321
Ok I had an answer. If the mode of the persistent key is set to : TPM2_ALG_NULL, we can specify a mode when doing the encryption.
If not it is mandatory to use the mode set with the key.

[2019-02-25 08:03] #1321 closed

[2019-02-26 12:18] joshuagl commented on #1327
The technical motivation is that ESAPI makes some of the functionality we wish to implement much simpler, i.e. HMAC sessions (#956). Are there tools which are broken in your testing? Please let us know which tools and workflows are broken and we will work on fixes for them.

If SAPI support is a requirement you should be able to continue to use the 3.X branch and releases.

[2019-02-26 12:19] joshuagl commented on #1326
I think the bug here is not so much in the manual page, but that the tool expects an auth value (even when it might be true that no auth value is set).

@idesai would you agree?

[2019-02-26 16:27] williamcroberts commented on #1327
Switching from SAPI to ESAPI shouldn't break anything. I'd like to know what broke, specifically, and how to replicate it in a test. From there we can fix it and ensure that we don't regress in the future. Do you have steps for reproducing?

[2019-02-26 21:51] tomoveu commented on #1327
Hello William and Josh,

Thank you both for recognizing the importance of this issue!

Replacing SAPI with ESAPI brought changes to the API of most _tpm2-tools_. I would give "tpm2_hierarchy"[1] as one of the impacted tools. We have break of API at tpm2_hierarchy_create_primary(), which now has an extra argument "tpm2_session *sess".

Such change is forcing everyone who was using SAPI by now to mi

[2019-02-27 02:22] idesai commented on #1326
@joshuagl I tried it at my end without the password and it works just fine. Fixed the man page as well. Thanks.

[2019-02-27 05:10] idesai commented on #1326
One caveat to my above statement, i found it working with and without the password with an earlier version of the tool: tpm2_policysecret version="3.0.2-731-gf2182cf" tctis="dynamic" tcti-default=tabrmd dlclose=enabled
@joshuagl @williamcroberts @AndreasFuchsSIT do you think this bug may have been introduced after esys integration, in that, there may be a difference in how the password/sensitive p

[2019-02-27 15:58] williamcroberts commented on #1327
We have been breaking the API of the command line interface for some time and are making no backwards compatible claims until 4.0 release.

Having those APIs co-exist is not feasible, because we would need to implement all of the session logic, hmac'ing and crypto, that is already included in ESAPI. The reason we switched to ESAPI is to avoid this.

If you need a stable API, I would recommend work

[2019-02-27 16:35] idesai commented on #1249
@williamcroberts @joshuagl this issue can be closed

[2019-02-27 18:19] williamcroberts commented on #1327
Is their some workflow for you that becomes unsupported or is just the annoyance of updating your scripts?

[2019-02-28 17:27] joshuagl commented on #1260
Looks like the tool and the man page don't match, the option in the code is `item-context`. We should change the tool to use the `context-object` argument.

[2019-02-28 17:29] #1249 closed

[2019-02-28 17:40] joshuagl commented on #1326
This does indeed look like a bug introduced during the ESAPI port. Thanks for investigating @idesai

[2019-03-02 16:21] tomoveu commented on #1327
I do not understand your question about "scripts", all APIs in discussion are written in C.

[2019-03-02 16:23] tomoveu commented on #1327
Bottom line: The [most significant dependency](https://github.com/tpm2-software/tpm2-tools/blame/d70cb7f10ffa657d368f9c29434889b476a5426c/README.md#L39) of this project is changed. Design choices and API consequences does not matter until "4.0". The target group for tpm2-tools are end-users, not developers.

Thanks for responding and providing this information!

[2019-03-02 16:23] #1327 closed

[2019-03-03 16:54] diabonas opened #1336 "Fix option conflicts uncovered by PR #1335"
PR #1335 uncovered some previously undetected option conflicts. These need to be addressed by either renaming the option to the correct name or adding it to the ignore list if it is a false positive. The following options are affected:
[code]

[2019-03-03 18:23] diabonas commented on #1336
Here is a more structured list of the affected options:

**session**
- [x] `-a`/`--auth-policy-session`
- [x] `-g`/`--policy-digest-alg`

**object**
- [x] `--auth-endorse` *(check capitalisation `-e`/`-E`)*
- [x] `--auth-hierarchy`
- [x] `--auth-object` *(check capitalisation `-p`/`-P`)*
- [ ] `--current-endorsement-passwd`
- [ ] `--current-handle-passwd`
- [ ] `--current-lockout-passwd`
- [ ] `-O

[2019-03-03 19:40] diabonas commented on #1336
Only tangentially related to this issue, but `--auth-lockout` is `-L` in `tpm2_clear` and `tpm2_clearlock`, but `-p` in `tpm2_dictionarylockout`.

[2019-03-03 23:09] martinezjavier commented on #1327
What @williamcroberts meant is that you are probably using the `tpm2-tools` from a shell script, and if that's the case then should take into account the non-backward compatible changes from the `3.0` release.

If you were using C code directly, then makes more sense to use the `API` provided by the `tpm2-tss` libraries (that way you can choose which layer is more appropriate for your use case).

[2019-03-03 23:10] martinezjavier commented on #1327
Yes, but the dependency will be also changed for `4.0`:

https://github.com/tpm2-software/tpm2-tools/commit/53bc4e6a015646a9fdc17ee066a0e23122ad665f

[2019-03-03 23:54] tomoveu commented on #1327
OK, so this is a wrong assumption and it confirms that tpm2-tools targets end-users, not developers.

We have been working to integrate tpm2-tools in our own (let's call it) test framework for TPM2 application. For the TPM2 application *itself* we are using SAPI directly.

Thanks for your input @martinezjavier !

[2019-03-04 00:00] tomoveu commented on #1327
Personally, I think we need more real application to boost TPM adoption, therefore finding out that tpm2-tools is not meant for that is actually disappointing.

The bottom line for the bigger picture: "tpm2-tools is OSS project not meant to be adopted or integrated, but only to be redistributed as toolset".

Maybe this could be somewhere in the README or Wiki, so other developers would not come as

[2019-03-04 16:13] #1323 closed

[2019-03-05 10:13] ambtid opened #1338 "tpm2_load fail on out of memory for object contexts with driver PTT"
Hi i run part of load.sh from test/integration/test and use divice ptt, this issue happens when trying to use load command,
i run this script
`source helpers.sh

start_up

alg_primary_obj=sha256
alg_primary_key=rsa
alg_create_obj=sha256
alg_create_key=hmac

alg_load=sha1

file_primary_key_ctx=context.p_"$alg_primary_obj"_"$alg_primary_key"
file_load_key_pub=opu_"$alg_create_obj"_"$alg_create_key"

[2019-03-05 12:26] ambtid opened #1339 "tpm2-tools commands fail on libtss2-esys.so.0: cannot open shared object file: No such file or directory after install"
Hi i try to install tpm2-tools but after the install all command fail on this error
`

[code]
i do this steps in the install

[code]
NOTE: i do the same steps before and success to make tpm2-tools work.

[2019-03-05 13:59] lestums commented on #1338
If you use tcti-device, you actually end up doing direct calls to /dev/tpmX. Hence having to perform ressource management on your own... Plan on using tcti-abrmd if you want the userland ressource manager or -T device:/dev/tpmrm0 to use kernel ressource manager (if supported)

dTPMs have a limit on how many transient objects can be loaded at anytime in TPM memory. You can check that limit using `t

[2019-03-05 14:18] lestums commented on #1339
Do you have /usr/local/lib (or insert the path where your libraries are installed) declared in any file of /etc/ld.so.conf.d ?

If not, add it and run `ldconfig`

A temporary workaround (that i use when testing outside of my docker image) : `LD_LIBRARY_PATH=/usr/local/lib tpm2_...`

[2019-03-05 15:49] #872 closed

[2019-03-05 15:51] williamcroberts commented on #1339
This isn't really a tools bug, but did you get it fixed? You likely need to run `ldconfig` as root or the other suggestions @lestums had.

[2019-03-05 15:51] #1339 closed

[2019-03-05 15:55] williamcroberts commented on #1339
Also make sure you didn't disable ESAPI during the build. If you have other questions, the mailing list is the place for help.

[2019-03-05 16:15] #1308 closed

[2019-03-05 16:47] GlovePuppet commented on #846
I need this for a project and would be willing to implement it. How should it work? As an extension of nvwite or as a standalone tool?

[2019-03-05 17:08] williamcroberts commented on #846
@GlovePuppet good question. I looked, i'm leaning towards a separate command. What are your thoughts?

[2019-03-05 17:14] GlovePuppet commented on #846
I have no strong preference TBH. That said there are a number of these, would they all need separate command? Or would it be better to just extend tpm2_nvwrite ?

TPM_NT_ORDINARY    tpm2_nvwrite
TPM_NT_COUNTER     tpm2_nvcounter ?
TPM_NT_BITS               tpm2_nvbitfield ?
TPM_NT_EXTEND
TPM_NT_PIN_FAIL
TPM_NT_PIN_PASS

[2019-03-05 17:18] williamcroberts commented on #846
in general we shoot for 1 major command per tool. You might need to use reaqdpublic() or something in a tool to figure something out, but the overall result should be from one command. No steadfast rule on this, but just a general idiom.

to collapse them into nvwrite would require some intelligence in option selection so the tool doesn't become unwieldy with options and over scoped/function creep

[2019-03-05 17:19] GlovePuppet commented on #846
Dumb it is then ;)

[2019-03-05 22:21] zt-initech opened #1340 "tpm2_sign should allow signature algorithm / scheme TPM2_ALG_RSAPSS"
https://github.com/tpm2-software/tpm2-tools/blob/master/tools/tpm2_sign.c#L86 (`sign_and_save`)

calls

https://github.com/tpm2-software/tpm2-tools/blob/master/lib/tpm2_alg_util.c#L819 (`get_signature_scheme`)

for RSA keys always sets `scheme` to `TPM2_ALG_RSASSA`.

I would like to use `TPM2_ALG_RSAPSS` instead.

tpm2_sign should have a command line argument to enable this.

[2019-03-05 23:42] williamcroberts commented on #1340
Iv'e been waiting for this issue to crop up, yes it should, you want to propose a patch?

[2019-03-06 08:47] JMing77 opened #1342 "test_tpm2_listpersistent.sh result is fail when used tpm2-tools-3.1.3 under Fedora 29"
Hello everyone,

I  run script test_tpm2_listpersistent.sh under Fedora 29 and it will fail and show message:
Only 3 of 2 persistent objects were listed

Other items are pass only tpm2_listpersistent is fail.
There are my tpm2 test packages:
tpm2-abrmd-2.0.3
tpm2-tss-2.1.0
tpm2-tools-3.1.3

Does anyone know this issue how to solve?
Thank you.

[2019-03-06 13:23] lestums commented on #1342
I assume you ran "make check". Thus, can you attach the `test-suite.log` at the `tpm2-tools` root directory please ?

This will give some context on how it has been executed and might give clues on what have failed.

[2019-03-06 13:28] martinezjavier commented on #1342
You mean 2 of 3? But if I read the test correctly it only creates 2 persistent objects.

[2019-03-06 15:39] #876 closed

[2019-03-06 22:38] zt-initech commented on #1340
@williamcroberts I propose the patch above.

[2019-03-07 11:12] JMing77 commented on #1342
Hi lestums,
I don't have test-suite.log at the tpm2-tools root directory, please refer attached file tpm2-tools-3.1.3.zip, thanks.

Hi martinezjavier,
Message is "Only 3 of 2 persistent objects were listed", you can refer to test_all.log, thank you.

[test_all.log](https://github.com/tpm2-software/tpm2-tools/files/2940842/test_all.log)
[tpm2-tools-3.1.3.zip](https://github.com/tpm2-software/tpm2-t

[2019-03-07 15:12] zt-initech commented on #1340
I updated the patch. I added the missing section in the tpm2_sign man page and also renamed the argument from `sigalg` to `signscheme`.

[2019-03-07 15:25] AndreasFuchsSIT opened #1348 "F26 and -D_FORTIFY_SOURCE=2"
Fedora 26 does not like `-D_FORTIFY_SOURCE=2` in configure.ac.
All other hardening flags are ok though.
Maybe you want to add a compiler-test or an extra `--enable` for this flag or merely ignore this request. ;-)

Build:
[code]

OS-Version:
[code]

[2019-03-07 16:16] AndreasFuchsSIT opened #1349 "tpm2_flushcontext: what to do about sessions"
I don't know why the tests don't fail, but a `tpm2_flushcontext -l` (for loaded sessions) does fail on my physical TPM. ... and it should.

The reason is that a session carries all this meta-data and thus the corresponding ESYS_TR cannot be reconstructed from a mere tpm handle. Also the TPM should only accept TPMI_DH_OBJECT handles for the TPM2_ReadPublic() and that's where I get my error.

This r

[2019-03-07 16:20] williamcroberts commented on #1340
Thank you!
@zt-initech I left a bunch of comments on that commit. Please make the changes and submit a PR. Looks pretty good for the most part.

[2019-03-07 16:24] AndreasFuchsSIT commented on #1349
Having thought about this, I guess this could be a valuable addition to ESAPI... Some kind of direct flush...

[2019-03-07 16:25] joshuagl commented on #1349
Agreed, having to call a `Tss2_Sys_` function seems like it exposes a deficiency in the ESAPI.

[2019-03-07 16:30] AndreasFuchsSIT commented on #1349
Yep... Do you know why this is not failing in the integration tests ?

Here's an ugly patch to be used in case of urgency only:
[code]

[2019-03-08 04:17] #1340 closed

[2019-03-10 06:00] electrickite opened #1356 "Various tools fail under Linux 5.0"
After a kernel update to 5.0, various tpm2 tools have started failing. This is on an Arch Linux system, using the distro binary packages for `tpm2-{tss,tools}`. The same packages work as expected on kernel 4.20.13.

## Versions
[code]

## Examples
[code]
[code]
[code]

[2019-03-10 14:18] AndreasFuchsSIT commented on #1356
Could you also post your kernel's TPM-related config attributes ?
I think to remember that linux 5.0 adds partial read/write on the devices. might be related to that.

[2019-03-10 16:42] diabonas commented on #1356
I can confirm these errors on my own Arch Linux system running kernel 5.0. The kernel configuration for the TPM of the [default Arch Linux kernel](https://git.archlinux.org/svntogit/packages.git/tree/trunk/config?h=packages/linux&id=9502fdcf546c933e5239231c8388131c7a346d50#n4199) is:
[code]
As you mentioned [partial read support in kernel version 5.0](https://github.com/torvalds/linux/commit/94885

[2019-03-10 17:24] AndreasFuchsSIT commented on #1356
can you also tell me, if you are running against /dev/tpmrm0 or /dev/tpm0 ?
Or if this make a difference or not ?

[2019-03-10 17:37] diabonas commented on #1356
Ah yes, I should have mentioned I use `/dev/tpmrm0`. Directly using `/dev/tpm0` does not seem to make a difference though, the errors stay the same both with and without `--enable-tcti-partial-reads` for tpm2-tools 3.1.3 and master.

Curiously, the command sometimes works partially or completely, so I get something like
[code]
or even the complete list without any error if I am lucky. When this ha

[2019-03-10 18:48] AndreasFuchsSIT commented on #1356
The lead towards the async being the question, aka if the whole answer is ready upon first read, then it's ok, if not, then not...

If you have the time, it would be interesting, if a sleep(5) at https://github.com/tpm2-software/tpm2-tss/blob/master/src/tss2-tcti/tcti-device.c#L119 would make a difference. That would more or less validate the async question. Otherwise, I'll do it sometime the comi

[2019-03-10 19:08] diabonas commented on #1356
With this additional delay between `tcti_device_context_cast` and `tcti_device_down_cast`, all the above commands as well as my own test cases work as expected without error (tested with `/dev/tpmrm0` and `tcti-device-async` and `tcti-partial-read` disabled as per default).

[2019-03-10 22:57] electrickite commented on #1356
Apologies for being absent on my own thread. Like @diabonas I am running the default Arch kernel, and the TPM kernel config is identical.

I also saw the same intermittent behavior: sometimes the commands will complete, although that is rare. More often, they will fail partway through their output and sometimes fail before producing any output at all.

[2019-03-11 10:13] joshuagl commented on #1356
This is being discussed on the linux-integrity list: https://www.spinics.net/lists/linux-integrity/msg06388.html

[2019-03-11 11:13] AndreasFuchsSIT commented on #1356
Maybe it was also a bug introduced with the partial reads stuff, since James' tools seem to work on the kernel list.
@diabonas: could you also try out branch 2.1.X of tpm2-tss ?
And thanks a lot for helping to triage the bug !

[2019-03-11 15:06] #1286 closed

[2019-03-11 15:06] #1287 closed

[2019-03-11 17:08] diabonas commented on #1356
No problem! The problem is present in 2.1.x as well, with and without `--enable-tcti-device-async`. Adding the delay helps on this branch as well. On the other hand, the 2.0.x branch is unaffected by the problem, everything works as expected there.

The issue is apparently related to https://github.com/tpm2-software/tpm2-tss/commit/3f2489b1c4572f203fb5c57b26364f9469ad716c: reverting that commit on

[2019-03-11 17:31] AndreasFuchsSIT commented on #1356
And there seems to be our first issue.
Even if `async` is disabled the open() uses O_NONBLOCK
https://github.com/tpm2-software/tpm2-tss/blob/master/src/tss2-tcti/tcti-device.c#L396

I would guess this O_NONBLOCK should need an `#ifdef` guard...

That could explain the error surrounding async disabled.
Why `--enable-tcti-device-async` errors is still a mystery however.

[2019-03-11 18:53] diabonas commented on #1356
Indeed, removing the `O_NONBLOCK` resolves the problem on the master and 2.1.x branches as long as `tcti-device-async` stays disabled.

Regarding the error when `tcti-device-async` is enabled, this might actually be a kernel bug as described in the [mailing list post](https://www.spinics.net/lists/linux-integrity/msg06388.html) that @joshuagl referred to. If I have the time, I might try testing th

[2019-03-11 19:07] tstruk commented on #1356
So it looks like this is a kernel regression. Lets send a fix for that.

[2019-03-11 19:36] diabonas commented on #1356
I confirm that the proposed fix for the kernel of replacing
[code]
by
[code]
in [`drivers/char/tpm/tpm-dev-common.c`](https://github.com/torvalds/linux/blob/master/drivers/char/tpm/tpm-dev-common.c) solves the problem. I tested the patch with a kernel based on [linux 5.0.1-arch1](https://git.archlinux.org/linux.git/log/?h=v5.0.1-arch1), which works with tpm2-tss 2.2.1 as well as the current master

[2019-03-11 21:52] GlovePuppet commented on #833
Turns out I need this one too.

tpm2_duplicate is going to be a wrapper around Esys_Duplicate(). I have some questions about the implementation and how to name cmd line parameters.

- objectHandle - [input] -c / "key-context" ok?

- newParentHandle - [input] -C "parent-key" ok?

- encryptionKeyIn - [input] optional filename can be specified by user on the cmd line? Any preference for cmd line arg

[2019-03-12 02:25] bongitbond opened #1359 "loadexternal.sh"
I am running the loadexternal.sh script, I am on Python 2.7.
I am receiving an error when running line no. 143:
local name1=`yaml_get_kv "stdout.yaml" "name"`

the name is not defined anywhere and not in helpers.sh

Can you provide some input?

Regards

[2019-03-12 14:45] williamcroberts commented on #1359
`name` isn't the name of variable, its the variable contents. Ie you're passing the string name as the second argument to `yaml_get_kv`. You're pullung out the name variable from the YAML compliant stdout of tpm2_loadexternal.

[2019-03-18 15:42] TabMong opened #1364 "Yocto build of 3.1.4 tools missing ESAPI commands"
Hello.... trying to integrate the latest tpm2.0 tools into my Yocto build and some of the ESAPI tools are not being bundled into the TGZ package.  I have not done an extensive compare but two of the tools I notice missing are tpm2_policypcr and tpm2_flushcontext.  I don't see and alternate package that has these tools just wondering what I am doing wrong.  Here is a listing of the tgz filtered for

[2019-03-18 16:08] joshuagl commented on #1364
Those tools haven't been added in the 3.X branch, they are only available on master and will be included in the next major release.

[2019-03-18 16:08] #1364 closed

[2019-03-19 12:24] dilyanpalauzov opened #1365 "./configure --enable-unit must be run as root"
tpm2-abrmd is intalled by default under $prefix/sbin/.

“tpm2-tools/configure --enable-unit” calls
[code]

tpm2_abrmd is searched by AC_CHECK_PROG in $PATH.  When ./configure is not run by root, /sbin is not in $PATH, so “./configure --enable-unit” must be run by root, in order to succeed.

It is very exceptional (I have not seen this anywhere else), that ./configure must be run as root (so that l

[2019-03-19 13:36] joshuagl commented on #1365
That's certainly not a universal truth, on both Fedora 29 and Ubuntu 18.10 I have _/sbin_ and _/usr/sbin_ in my users `PATH` by default. On openSUSE 15.0 neither are in the users default `PATH`.

Regardless, _/sbin_ is the correct location according to the FHS:
https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s10.html

You might want to build with an invocation like:

[2019-03-19 13:51] dilyanpalauzov opened #1368 "Optional requirement in configure.ac"
Configure.ac contains:
[code]
A related program is either optional or required.  Since ./configure continues when a desired program is missing, then the program is optional.

Reword the above warnings to “MNO not found, some system tests will fail”

[2019-03-19 14:04] dilyanpalauzov commented on #1365
https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s10.html says for /usr/sbin "This directory contains any non-essential binaries used exclusively by the system administrator".  So if the user is not system administrator, then that user shall not be able to call binaries intended exclusively for the system administrators.

As far as Fedora is concerned, the rationale at https://fedoraproject.or

[2019-03-19 15:02] williamcroberts commented on #1365
Then perhaps it's abrmd not in the proper spot? @flihp you have input on this?

[2019-03-19 15:16] joshuagl commented on #1365
Is this a real problem somewhere or just hypothetical? I've never had to run configure as root or with sudo, despite building the tools many times on several different distros.

[2019-03-19 15:22] williamcroberts commented on #1365
@joshuagl me either, i wonder if it's some pedantic distro thing. @dilyanpalauzov can you tell us more about your environment?

[2019-03-19 15:31] dilyanpalauzov commented on #1365
On my Linux From Scratch system, on which I have not installed `sudo`, sbin/ is not in $PATH.

In any case, it has to be clarified first if `tpm2_abrmd` is supposed to be run only by system administrators, like tcpdump, kadmind, fsck; or by all users  Afterwards can be decided on the installation path: bin or sbin.

[2019-03-19 18:52] tstruk commented on #1356
@diabonas right, the response_read prevents double writes (without) reading and should not be part of the poll condition. There is a time gap between a write which sets it to false and read (or timeout) that cleans it.

[2019-03-20 14:52] #1260 closed

[2019-03-21 10:28] diabonas commented on #1365
In my opinion, `sbin` is the correct directory since the user is not supposed to call `tpm2_abrmd` directly, it is started automatically by D-Bus/systemd. As [@joshuagl pointed out](https://github.com/tpm2-software/tpm2-tools/issues/1365#issuecomment-474372982), there doesn't seem to be a standard whether `sbin` should be included in `PATH`. It might be nice though to change the logic in `configur

[2019-03-21 14:10] dilyanpalauzov commented on #1365
If tpm2_abrmd is going to be started only over DBus, then tweak ./configure to check, whether tpm2_abrmd can be started over DBus.

[2019-03-21 14:16] joshuagl commented on #1365
Setting `PATH` at configure invocation time doesn't feel entirely unreasonable to me

[2019-03-21 14:18] joshuagl commented on #1365
This really is an edge case, though. In standard usage, or even a standard build, the tools don't care about the location of tpm2-abrmd. However if you're trying to build and run the test suite we need to know where it is so that we can start tpm2-abrmd as a non-system user in order to set up an instance to test against that won't interfere with the global system state.

[2019-03-21 15:20] dilyanpalauzov commented on #1365
If PATH is set within ./configure, then it must be either set to /usr/local/sbin and /usr/sbin, or even better  tpm2-abrmd shoud install a .pc file and from it the $prefix must be extracted, to set PATH.

If the user is not supposed to call tpm2-abrmd, then it shall go under $?prefix)/libexec, https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch04s07.html.

From my side, you can decide on anything

[2019-03-23 03:42] lestums opened #1370 "Check coding style via dedicated tool usable in CI"
A coding style has been defined in project but is not enforced nor checked (with the exception of the Eclipse formatter) through scripts, that also could be executed through CI.

Following proposition made in #1337, calls to a code formatter (such as 'astyle' or 'clang-format') could be wrapped in a dedicated tool that would be used by developer prior submitting code and Travis to check coding sty

[2019-03-23 05:57] lestums opened #1371 "No warning/error on default suite being selected if specified suite is ill formated"
If one attempt to specify such algorithm permutation :
`ecc256<insert_something_here>:....` e.g `ecc256funnytexthere:`
the tool will silently convert the suite into :
`ecc256:null:null`

Same behavior can be obtained by using RSA or any algorithm specification that have data between identifier and the colon (or NULL) and where beginning of the spec. is correct (all permutations of ecc/rsa with a v

[2019-03-25 13:38] GlovePuppet commented on #833
I made some progress with this one but I have some more questions:

1) encryptionKeyIn/encryptionKeyOut are just the keys, raw binary data (TPM2B_DATA). The temptation is to use files_save_tpm_context_to_path() and files_load_bytes_from_path() but that comes with a lot of error checking. Is there a preferred method of loading/saving TPM2B_DATA?

2) How to get from to a TPMI_ALG_PUBLIC (key_type fr

[2019-03-25 15:27] dilyanpalauzov opened #1376 "x"

[2019-03-27 15:29] joshuagl opened #1380 "Make option analyser failures cause build failures"
Ensure that any failures in the option analyser cause build failures, so that we can have increased certainty that our interface doesn't contain conflicting options.

We'll first need to fix all conflicting options per issue #1336 then revert PR #1379.

[2019-03-27 16:53] joshuagl opened #1381 "Nonce changes during tpm2_createak causing failures on some TPMs"
During `tpm2_createak` the nonce size changes, which causes a failure on certain TPM implementations.

Where the TPM enforces that the nonce size doesn't change this results in an error during `tpm2_createak`.

This error was introduced during the ESAPI port

[2019-03-27 16:54] joshuagl commented on #1381
We can make the simulator enforce that nonce size doesn't change in order to replicate it with a patch like:

https://gist.github.com/joshuagl/b3b5d356a88faa0c46974b79c23b6984

[2019-03-31 16:39] maage opened #1389 "tpm2_policy_pcr_build: pcr_values wrong type"
https://github.com/tpm2-software/tpm2-tools/blob/fdc0fb34c49bdeaca63c511a0fb6f246b2b2aa32/lib/tpm2_policy.c#L90

From: https://bugzilla.redhat.com/show_bug.cgi?id=1694462

My version is;

tpm2-tools-3.1.4-1.fc30.x86_64

But error code seems to be the same.

[code]

Stack trace is about the same as main issue.

[code]

And after some studying in "TPM2B_DIGEST digests[8]" 8 is number of supported al

[2019-03-31 17:10] maage commented on #1389
More extreme example:
[code]

[code]
Current algorithm sets size field with my test case up to index 26
[code]

[code]

[code]

Okay so maybe TPML_DIGEST should be like:
[code]

And then

[code]

should be
[code]

[2019-03-31 19:51] maage commented on #1389
This is mostly duplicate for 3.X branch for #778

[2019-04-04 13:38] williamcroberts opened #1398 "-G to -g switches"
@lestums started work on #1355 to change -G to -g/-halg usages where it makes sense. Make this tracker to ensure it gets finished and tag it for 4.0 release as it changes CLI params.

- [X] tools/tpm2_hash.c
- [X] tools/tpm2_quote.c
- [X] tools/tpm2_sign.c
- [ ] tools/tpm2_import.c
- [ ] tools/tpm2_getmanufec.c
- [ ] tools/tpm2_createek.c
- [ ] tools/tpm2_create.c
- [ ] tools/tpm2_createprimary.c

[2019-04-04 13:38] #1315 closed

[2019-04-04 16:27] Grazfather opened #1399 "Miscounting in error array causes error decoding issue"
https://github.com/tpm2-software/tpm2-tools/blob/master/lib/tpm2_error.c#L371 - There should be a NULL here, otherwise the indices after this are all off by one.

https://github.com/tpm2-software/tpm2-tools/blob/master/lib/tpm2_error.c#L393 - Skipped entry 0x1F

So that means that error 0x921 (which we happen to be seeing) is decoded as the error for 0x923

[code]

Looking at the spec, this is act

[2019-04-04 19:19] redg3ar commented on #1356
By now we are on 5.0.6, and I still see this error. I also see that it isnt changed in the linux-next tree as well. Any ideas when this will be patched?

[2019-04-04 19:58] diabonas commented on #1356
@redg3ar The [fix](https://git.kernel.org/pub/scm/linux/kernel/git/jmorris/linux-security.git/commit/?h=next-tpm&id=7bde1fe0abbe202dc1f484fe7ef110f6ed3b1351) has been [merged into the Linux kernel security system](https://www.spinics.net/lists/linux-integrity/msg06655.html), but it has not reached the main kernel tree yet.

[2019-04-05 13:35] #852 closed

[2019-04-08 22:02] udf2457 opened #1405 "tpm2_getrandom issues"
There seem to be a few oddities with tpm2_getrandom ?

`tpm2_getrandom 2` = As expected
`tpm2_getrandom 20` = As expected
`tpm2_getrandom 2000` = Insufficient output

`tpm2_getrandom 2 -o test.out` = As expected
`tpm2_getrandom 20 -o test.out` = As expected
`tpm2_getrandom 2000 -o test.out` = Only 32 bytes

`tpm2_getrandom 32` = As expected
`tpm2_getrandom 33` = Still 32 ?

[2019-04-09 02:54] #1399 closed

[2019-04-09 15:33] udf2457 commented on #1405
Just saw your update. Thanks for this and yes my preferred route would be better exception handling (since the inability to do something is an exception and normally its nice to tell the user rather than silently fail - or in the case of tpm2 silently default to something else).

[2019-04-10 23:18] idesai commented on #1137
@AshithPolepalli @SilverJan I had to do this today on a NUC someone showed up with the same issue.
These steps worked for me:
1. Boot to linux and confirm passwords are in fact set --> tpm2_getcap -c properties-variable
2. Power-Off --> Remove security jumper --> Power-On --> Configuration menu shows option to clear tpm --> Issue clear --> Power-Off --> Power-On
3. Boot to linux and confirm passwo

[2019-04-11 15:53] #1376 closed

[2019-04-11 17:08] #1405 closed

[2019-04-13 08:16] 2raziel3 opened #1415 "TPM2_unseal "Invalid nonce size""
Hi,

I have managed to create an object and make it persistent in the Physical TPM, running the master repositories for TSS abrmd and tools.
However when i boot up I get the following error;

![IMG_20190412_150014](https://user-images.githubusercontent.com/36970807/56076628-7ab5f480-5dcb-11e9-88ac-640b19738798.jpg)

the script that is running is as follows;
#!/bin/sh
set -e
echo "Unlocking via TPM

[2019-04-13 14:04] lestums commented on #1415
Hello !

You are actually facing two distinct issues in here :

1. I think the error "TPM2_RC_NONCE" you received is something that has already been noticed but with an other tool (see #1381). Can anyone else confirm that guess ?

2. The second issue is your script itself which miss preliminary setup steps, explaining your `/dev/tpm0 : no such file or directory`.

This script is executed using the

[2019-04-13 15:36] 2raziel3 commented on #1415
Hi  @lestums ,

I wish this was a CS asignment, however I need to get this functioning for a work project. I will look into your the steps you recomend for the second issue I am having. Some of the items you have linked I have come across in my research but I will take another look thorugh them :)

[2019-04-14 16:23] 2raziel3 commented on #1415
Hi @lestums ,

Sorry for the delay,
so manually checking /sys/class/tpm i get confirmation of the dir exists
i then run modprobe tpm_tis.
I then get the same output when i run the script from the shell and on reboot.

[2019-04-14 16:42] 2raziel3 commented on #1415
Hi @lestums ,

So i figured one part out my script was pointing to the wronf directory so it should read as;
the script that is running is as follows;
#!/bin/sh
set -e
echo "Unlocking via TPM" >&2
export TPM2TOOLS_TCTI="device:/dev/tpmrm0"
/usr/local/bin/tpm2_unseal -c 0x81000000 -L sha1:0,2,3,7 && exit
if [ $? -eq 0 ]; then
exit
fi
/lib/cryptsetup/askpass "Unlocking the disk fallback $CRYPTTAB_SO

[2019-04-14 16:52] 2raziel3 commented on #1415
Sorry for the spam, with that change on reboot it cycles on cryptsetup failed, bad password or options?
and then eventually boots to initramfs.

[2019-04-15 13:37] lestums commented on #1415
Hi, glad to see you could solve the TPM missing issue.

I will look at this `TPM2_RC_NONCE` and try to reproduce it with simulator.

Things related to cryptsetup are distinct from `tpm2-tools` issues. If you don't mind we can continue this discussion by mail instead :)

[2019-04-15 13:53] 2raziel3 commented on #1415
Hi ,

Happy to keep this via mail,

I have also tried a build using;
Tools = 3.1.4-rc0
tss = 2.1.3_rc0
abrmd = 2.1.1_rc0

for that I am getting an error code 0x1c4 or 0x284 for tpm2_evictcontrol

Not expecting you to look into this aswell, I only bring it up because I
have found both of these issues in the february mail archive.
Potentially that might help you find someone to collab with, seen as

[2019-04-15 15:13] dilyanpalauzov opened #1416 "./bootstrap includes files twice in $ALL_SYSTEM_TESTS"
To include tests in $SYSTEM_TESTS_TCTI_ABRMD ./bootstrap calls `find test/integration/tests/tcti/abrmd -name "*.sh"`.

To include tests in $SYSTEM_TESTS, ./bootstrap calls `find test/integration/tests/ -name "*.sh"`.

./bootstrap defines `ALL_SYSTEM_TESTS = $(SYSTEM_TESTS) $(SYSTEM_TESTS_TCTI_ABRMD)`.

The variable $SYSTEM_TESTS_TCTI_ABRMD isn’t used on any other place, except in the definition fo

[2019-04-15 22:24] #1011 closed

[2019-04-15 22:24] #1398 closed

[2019-04-16 16:12] dilyanpalauzov opened #1417 "test/integration/tests/activecredential.sh gets stuck"
When I call `make check` on the latest tpm2-tools, at some moment activecredential.sh does not make a progress. I see it has started tmp2_evictcontrol, tpm2-abrmd, and tpm-server 1332.  Here are the backtraces of those processes:

[gdb-evictcontrol.txt](https://github.com/tpm2-software/tpm2-tools/files/3085815/gdb-evictcontrol.txt)
[gdb-tpm_abrmd.txt](https://github.com/tpm2-software/tpm2-tools/fi

[2019-04-16 17:20] williamcroberts commented on #1417
AFAICT everything seems to be sitting in poll, not sure why they are not communicating, is this repeatable?

[2019-04-16 17:21] dilyanpalauzov commented on #1417
Yes, it is 100% repeatable.

[2019-04-16 17:22] williamcroberts commented on #1416
No n the bootstrap yes on individual listings in Makefile.am, that doesn't bother me.

[2019-04-16 17:26] williamcroberts commented on #1417
Whats the git sha for:
* tss
* abrmd
* tools

Our CI is on an older tpm-server:
ibmtpm1119

I use 974 locally.

Try an older version of the simulator perhaps, is it repeatable then?

[2019-04-16 17:46] dilyanpalauzov commented on #1417
`ss -paei` shows for the three processes:
[code]
Thus tpm2-abrmd and tpm_server are connected.,but tpm2_evictcontrol is lonely.  Thus I think the version of ibmtpm is not relevant here.

* How is tpm2_evictcontrol supposed to determine where to connect?

I do not know `git sha`.

[2019-04-16 17:56] williamcroberts commented on #1417
run --version on any tool, that will at least narrow the tools down. We just pulled in a massive re-work of the CI scripts on changes:

https://github.com/tpm2-software/tpm2-tools/commit/f6c548b7cd63967a1ca1c756067d6fe7cd93736f

[2019-04-16 17:58] williamcroberts commented on #1417
oh it figures out how to connect by the TCTI env variable or command line tcti options

[2019-04-16 18:12] dilyanpalauzov commented on #1417
`git -C tpm2-tools/ describe` ⇒ 3.0.2-1005-gc782e7cc.

build/test/integration/tests/activecredential.log:
[code]
So it is supposed to connect to com.intel.tss2.Tabrmd28763.

`dbus-send --session --dest=org.freedesktop.DBus --type=method_call   --print-repl
y  /org/freedesktop/DBus   org.freedesktop.DBus.ListNames` in another window, does not print intel.  Does this mean, that the DBus bus does not

[2019-04-16 18:37] williamcroberts commented on #1417
dbus is a nightmare. I look at the ss output, and from what I can tell its not hooked up with tpm2-abrmd, but tpm2-abrmd is hooked up with tpmserver but the tool is not hooked up with abrmd.

So theirs something wrong in the test code or their is something wrong in abrmd. abrmd hasn't moved much recently, so my guess is the tools.

Try setting up something with git bisect and narrow it down by run

[2019-04-16 18:45] dilyanpalauzov commented on #1417
This has never runned, so I guess doing bisect will not help.

[2019-04-17 06:49] bongitbond commented on #1359
Thanks! Python is throwing a NameError: name 'name' is not defined. I have tested manually, it works. Just that Python is throwing that error, I have tried both Python 2and Python 3.

[2019-04-17 18:41] dilyanpalauzov opened #1420 "tests/integration: warning with PyYAML.load 5.1"
This code in test/integration/tests/activecredential.sh:
[code]
complains on python 3.6 .7+ with PyYAML 5.1:
[code]

[2019-04-17 18:42] dilyanpalauzov commented on #1417
Updating tpm2-tss helped.

[2019-04-18 13:49] dilyanpalauzov commented on #1420
This warning is not issued with PyYAML 3.13 (last stable version before 5.1 according to https://pypi.org/project/PyYAML/#history).

[2019-04-18 15:03] diabonas commented on #1420
Interesting, I cannot reproduce this on my system (Arch Linux with a manually built python-yaml 5.1 package, since the package has not been updated in the official repositories): I get the warning
[code]
as well, but not the crash afterwards, so the test succeeds. What does the `ak.out` it fails to parse look like on your system?

Regardless of the test failure, `yaml.load(f)` should be changed to

[2019-04-18 15:21] dilyanpalauzov commented on #1420
I do not know what I did yesterday evening different, today I do not get this backtrace.  Perhaps the tests failed for different reason, today theypass.

Please use the occassion to get rid of the warning coming from `yaml.load()`.

[2019-04-18 15:58] GlovePuppet opened #1423 "Enhancements to tpm2_import"
Now I have a candidate for tpm2_duplicate I would like to expand tpm2_import to work with TPM objects as well as openssl objects.

How do we want to indicate to the tool that we are importing a TPM object? I could imagine adding a parameter (-S?) that is the encrypted seed filename and if it's present then the tool assumes we are importing a TPM object otherwise it assumes openssl and the behavior

[2019-04-18 21:34] diabonas commented on #1420
Glad you got it working! Regarding the warning, I have opened PR #1427.

[2019-04-18 21:57] #1420 closed

[2019-04-21 23:49] daveti commented on #1381
root@sgx-59:~/git/tpm2-bm# tpm2_createak -C 0x81010001 -k 0x81010002 -p ak.pub -n ak.name
WARNING:esys:src/tss2-esys/api/Esys_Create.c:414:Esys_Create_Finish() Received TPM Error
ERROR:esys:src/tss2-esys/api/Esys_Create.c:156:Esys_Create() Esys Finish ErrorCode (0x0000008f)
ERROR: Esys_Create(0x8F) - tpm:handle(unk):invalid nonce size or nonce value mismatch
ERROR: Unable to run tpm2_createak

[2019-04-22 11:18] bongitbond commented on #1359
I am using the commit cf768cdf97864a3875e07439440d23115041cb4e.
The run_aes_test 256 test is failing at:openssl enc -in plain.enc -out plain.dec.ssl -d -K `xxd -p sym.key` -iv 0 \
-aes-$1-cfb

OpenSSL is returning the below:
Extra Arguments given
enc: Use -help for summary
-------------------------------------------

Can you please provide some inputs?
Is there any issue with tpm2?

[2019-04-22 11:19] bongitbond commented on #1359
The test is passing for aes 128.

[2019-04-22 18:16] williamcroberts commented on #1359
I have no idea why it would pass for 128 and fail for 256 unless your openssl doesn't support AES 256 CBC, can you check if thats supported?

[2019-04-23 11:38] dilyanpalauzov opened #1433 "Fix the pandoc version for building the documentation"
Below is the manual page for tpm2_re_decode, generated by
`pandoc 1.19.2.4 Compiled with pandoc-types 1.17.0.5, texmath 0.9, skylighting 0.1.1.5` and `pandoc 2.7.2 Compiled with pandoc-types 1.17.5.4, texmath 0.11.2.2, skylighting 0.7.7`.

[tpm2_rc_decode.1_pandoc_1.19.2.4.txt](https://github.com/tpm2-software/tpm2-tools/files/3107253/tpm2_rc_decode.1_pandoc_1.19.2.4.txt)
[tpm2_rc_decode.1_pandoc_

[2019-04-23 11:44] dilyanpalauzov commented on #1433
The 2 version used for the file above was `pandoc 2.0 Compiled with pandoc-types 1.17.2, texmath 0.9.4.4, skylighting 0.4.2`, as contained in the first line of tpm2_rc_decode.1_pandoc_2.0.txt, it was not 2.7.2

[2019-04-23 14:51] daveti commented on #1381
Could someone take a look at this? I simply would not create AK due to this nonce error. BTW, I'm using a physical TPM2 chip. Let me know if DEBUG/TRACE logging is needed. Thanks in advance!

[2019-04-23 15:24] williamcroberts commented on #1381
I'm not really sure where the nonce size is changing, it should just be a matter of finding out why its changing and fixing that. Im not sure if we should be setting the nonce parameter in PolicySecret

[2019-04-23 17:19] daveti commented on #1381
Yeah, I am also confused to see a nonce error during AK creation. Thanks for the quick response~

[2019-04-24 14:47] williamcroberts commented on #1381
I applied joshes patch and added a printf to see whats going on:

nonceCaller: 32 - nonceTPM: 20

Looks like it's getting changed to a SHA1 size... now need to run down where.

[2019-04-24 16:11] williamcroberts commented on #1381
So after much digging, nonceCaller and nonceTPM are comming in at size 20, but this code is using the auth hash size to compute the new nonce for nonceCaller. I'm not sure if this is proper behavior, why wouldn't it use the established nonce size?

[code]

[2019-04-24 16:17] williamcroberts commented on #1381
This seems to be working. Let me run the TSS tests and see if anything breaks.
[code]

[2019-04-24 16:19] williamcroberts commented on #1415
I don't know if it's related to #1381 but I have a patch over there to ESYS which seems to be fixing/avoiding the problem in the other issue filed. I have to do more investigation if this is the proper patch or not.

[2019-04-24 17:02] AndreasFuchsSIT commented on #1381
Upstream fix looks good...

While looking into the tpm2-tss bug, I notices that the tpm2-tools statically choose 20 as callerNonce.size:
https://github.com/tpm2-software/tpm2-tools/blob/4c40cc4467c6505e3b1c3475a45d35ed3fd53934/lib/tpm2_session.c#L74
Instead, you can pass NULL into StartAuthSession and ESAPI will calculate the callerNonce.size from the sessions algorithm automagically here:
https:/

[2019-04-24 18:53] williamcroberts commented on #1415
We have confirmation from the maintainer that is indeed the correct patch, so please test with that patch installed and report back.

[2019-04-24 20:38] AndreasFuchsSIT commented on #1415
patch is merged in tpm2-tss/master
You can give that a try as well...

[2019-04-24 20:49] 2raziel3 commented on #1415
Will give it a try soon tonight.

On Wed, Apr 24, 2019 at 9:38 PM Andreas Fuchs <notifications@github.com>
wrote:

[2019-04-25 02:30] 2raziel3 commented on #1415
Hi,

So i have re-built using the master repositories for all three, and the nonce issue is no resolved, so thank you massively for that.
Running my script manually now reveals the secret, however when i run this on boot from initramfs it fails to requiring the passphrase to be manually entered. I am guessing that some requirments are not being met to allow this script to function. Any further hel

[2019-04-25 14:00] #1415 closed

[2019-04-25 14:01] williamcroberts commented on #1381
@AndreasFuchsSIT the session code in the tools needs a big delete now with ESAPI.

[2019-04-25 14:01] #1381 closed

[2019-04-25 14:04] williamcroberts commented on #1365
@dilyanpalauzov ill take patches for this if it does indeed correct a corner case. Considering the only bug report we have is from an LFS system and not from Debian or Redhat, it seems like a corner case. I'm not sure what magic to put in the configure scripts to make this work.

[2019-04-25 14:16] williamcroberts commented on #1348
What's weird is CFLAGS should default to -02 -g.

[2019-04-25 14:59] williamcroberts commented on #1348
I tried to recreate with fedora 26 which has gcc version gcc (GCC) 7.3.1 20180130 (Red Hat 7.3.1-2).

I notice your CFLAGS are empty, are you doing anything special? If you modify CFLAGS and don't perform disable hardening, you're on your own. I am marking this non-reproducible and closing.

OS details:
[code]
Configure:
./configure CC=gcc
[code]
Build:
[code]

[2019-04-25 14:59] #1348 closed

[2019-04-25 15:01] williamcroberts commented on #833
merged: https://github.com/tpm2-software/tpm2-tools/commit/c2d24df0ce3b44259fc9e36013684ca4269b3f8c

[2019-04-25 15:01] #833 closed

[2019-04-25 15:08] #1356 closed

[2019-04-25 15:11] williamcroberts commented on #1349
@AndreasFuchsSIT I haven't followed this much. From what I gather:
1. the flushcontext -l should fail and you're able to reproduce it
2. a potential change to esapi is proposed
3. we could take this hack patch and apply it to fix your issue for now

How do you want to proceed?

[2019-04-25 15:18] williamcroberts commented on #1342
This also will need to be cherry picked for 3.1.5: https://github.com/tpm2-software/tpm2-tools/milestone/11

[2019-04-25 15:22] williamcroberts commented on #1266
We're not enabling this feature on 3.X branch, as progress needs to move forward on 4.0. However, 4.0 will have session support. 3.X will be deprecated at some point, and will only be receiving bug-fixes.

I am going to drop this on 4.0, so we ensure it gets done.

[2019-04-25 15:25] williamcroberts commented on #1259
What do yo mean, "did"? The tests are designed to be run by make check, not manually. If you run them manually you're on your own (advanced).

That seems like a bug, its failing somewhere and not printing a message.

You could throw it in a debugger and find where it's failing.

[2019-04-25 15:32] williamcroberts commented on #1259
A cursory glance throught the tool and the only place **I see** it failing silently would be on converting the -k option to a TPM handle. Your issue came right before we merged https://github.com/tpm2-software/tpm2-tools/pull/1239 (ESAPI port) which completely changed the behavior of the tools.

I also don't know if your on master or some 3.X release, so having those details, and all the steps you

[2019-04-25 15:42] williamcroberts commented on #1257
Actually your tool version is not 3.0.2. Due to the way the branching is occuring and how git describe works the output is a little tricky. A clean release wont have those details, the most important thing is the git sha at the end your checked out on.

Since it's a primary object, -G "ecc" defaults to:
TPM2_ECC_NIST_P256

it's the same as doing `-G ecc256`

You can get supported curves from your

[2019-04-25 15:45] williamcroberts commented on #1241
@safayetahmedatge where did you get with this?

[2019-04-25 15:45] #1236 closed

[2019-04-25 15:46] #1200 closed

[2019-04-25 15:50] williamcroberts commented on #1202
That hunk went away in:
cbb3582772834 (Imran Desai 2018-09-01 12:27:21 -0700 276)         .size = (uint16_t)file_size

[2019-04-25 15:50] #1202 closed

[2019-04-25 15:52] #1192 closed

[2019-04-25 15:55] williamcroberts commented on #1176
Please report this to tpm2-abrmd project.

[2019-04-25 16:00] williamcroberts commented on #1149
Fixed.

[2019-04-25 16:00] #1149 closed

[2019-04-25 16:07] williamcroberts commented on #1128
fixed: 90e5d99ed3771

[2019-04-25 16:07] #1128 closed

[2019-04-25 16:09] williamcroberts commented on #1159
Fixed: 78c3df26b7

[2019-04-25 16:09] #1159 closed

[2019-04-25 16:12] williamcroberts commented on #1146
ie 32 should be aes256 not aes128

[2019-04-25 16:13] #1137 closed

[2019-04-25 16:15] williamcroberts commented on #1073
Done e761be72f6e93

[2019-04-25 16:15] #1073 closed

[2019-04-25 16:17] williamcroberts commented on #1072
fixed: 45a1dd2bf

[2019-04-25 16:17] #1072 closed

[2019-04-25 16:20] williamcroberts commented on #1041
no idea what I meant

[2019-04-25 16:20] #1041 closed

[2019-04-25 16:21] williamcroberts commented on #1148
check output and clean up

[2019-04-25 16:27] williamcroberts commented on #1160
We need to make sure this is on milestone 4.0 as well

[2019-04-25 16:28] williamcroberts commented on #1151
Seems done..and no longer applicable. We need to scan options one more time for 4.0 release.

[2019-04-25 16:28] #1151 closed

[2019-04-25 16:31] williamcroberts commented on #1119
They do, however it limits the name algorithm of the children to the name algorithm size of the parent.

See commit: 90e5d99ed3771 where I add the check

[2019-04-25 16:31] #1119 closed

[2019-04-25 16:31] williamcroberts commented on #1004
Seems fixed awhile ago

[2019-04-25 16:31] #1004 closed

[2019-04-25 16:32] williamcroberts commented on #971
Not doing this

[2019-04-25 16:32] #971 closed

[2019-04-25 16:34] williamcroberts commented on #915
Seems fixed as I read the doc

[2019-04-25 16:34] #915 closed

[2019-04-25 16:37] williamcroberts commented on #908
No one else complained AFAIK and no patch was ever submitted. 3.0.X and the 1.X tss releases are legacy. no longer really supported.

[2019-04-25 16:37] #908 closed

[2019-04-25 16:38] williamcroberts commented on #895
Ive seen tools fail and not set an error code to terminal, so we probably want to audit failure paths and perhaps return HELP, ERROR or SUCCESS as we have 3 states that tools can return to the framework to indicate print help, error occurred or all is well.

[2019-04-25 16:39] williamcroberts commented on #886
I don't think that command has ever been in tools.

[2019-04-25 16:39] #886 closed

[2019-04-25 16:41] williamcroberts commented on #880
ESAPI port handles:
- transient objects
- persistent objects

However NV space is left, and also NV space would be nice if you could just do 1,2,3,4 and it just adds the 0x01000000 to it.

[2019-04-25 16:43] williamcroberts commented on #777
No longer relevant when we execute https://github.com/tpm2-software/tpm2-tools/issues/1114

[2019-04-25 16:43] #777 closed

[2019-04-25 16:46] williamcroberts commented on #687
Seems fixed on 3.X

[2019-04-25 16:46] #687 closed

[2019-04-25 16:46] #755 closed

[2019-04-25 16:48] williamcroberts commented on #532
Im taking this off the list of things to do. We won't remove simple policy support in existing tools, but our long term and more flexible goal will be using sessions and session tools to craft a session to be passed to other tools for usage, rather than doing all of this inside of a single tool.

[2019-04-25 16:48] #532 closed

[2019-04-26 12:02] dilyanpalauzov commented on #1417
Some integration tests from tpm2-tools gets only stuck on my system after `tpm2-tss/configure --enable-tcti-partial-reads` is utilized.  Without partial reads, all the tpm2-tools tests complete.

[2019-04-27 01:09] williamcroberts opened #1442 "-X option needs to go away"
A change for -X to indicate no-sapi for all tools was introduced. However, this causes NPE style issues:
[code]
This option cannot be global, as it's tool specific. Move this to tpm2_makecredential where it belongs.

[2019-04-29 12:25] dilyanpalauzov opened #1444 "Consider deheader"
[Deheader](https://gitlab.com/esr/deheader) checks .c files:
* if they include a .h file twice,
* if a .h file is missing and this has impact on portability
* and if the .c file compiles when a .h file is removed.

and then deheader makes suggestions.  Applying `deheader -v` on tpm2-tools prints:
[code]

[2019-04-29 12:42] inadequatesubject commented on #1444
root@exlibtar:~# du -h /root/Documents/0-001.\ -\ Business
213M    /root/Documents/0-001. - Business

Don't worry, I won't hack you... Simply, I don't know how to hack Gmail...
Besides, I have trouble creating malicious exploitable links... but I can
craft a file like an .exe, or .pdf, or .php that supposedly should be able
to hack someone, but I don't know the commands from my head. Yet, I have i

[2019-04-29 18:40] williamcroberts commented on #1417
This issue needs to go to TSS, not tools.

[2019-04-29 18:40] #1417 closed

[2019-04-29 18:53] williamcroberts commented on #1433
I just tried to reproduce:

Pandoc Versions (1.17.0.5 to 2.7.2):
Old:
[code]

New:
[code]

I could not reproduce, the files are identical:
2b853179500090b9acb267086295976c  tpm2_rc_decode.1.v1 (old)
2b853179500090b9acb267086295976c  tpm2_rc_decode.1.v2 (new)

[2019-04-29 18:58] dilyanpalauzov commented on #1433
I do not see a difference between Old and New, both are 2.7.2. The files must at least differ in the first line: `.\" Automatically generated by Pandoc 2.7.2`.

[2019-04-29 19:07] williamcroberts commented on #1433
Yep my alias from v1 to v2 didn't propagate through, lets try this again

[2019-04-29 19:13] williamcroberts commented on #1433
Ok have it reproduced

[2019-04-29 19:18] williamcroberts commented on #1433
I can reproduce it with this file
[test.md.txt](https://github.com/tpm2-software/tpm2-tools/files/3128875/test.md.txt)

[code]

[2019-04-29 19:21] williamcroberts commented on #1433
Pandoc seems to treating these as "em dashes" now, looks like their is an option to control these.
https://github.com/jgm/pandoc/issues/3063

[2019-04-29 19:32] williamcroberts commented on #1433
Looks like the simplest fix is to escape the `--` with `\-\-`

[2019-04-29 20:33] williamcroberts commented on #917
- [x] session:<file> is done in 53a6e1a6465a5ff

- [x] Long options are covered by option trackers for 4.0.

- [ ] need to go through and make sure the password handler can update the full auth session array.

[2019-04-29 23:36] williamcroberts commented on #917
@idesai question, do we actually ever need to fully populate the auths array for most commands? What commands would actually need more than auth data? If we can get this list, it would be helpful to understand what impact this change would have overall.

[2019-04-30 04:58] diabonas commented on #1356
This is fixed in [Linux 5.0.10](https://lkml.org/lkml/2019/4/27/138).

[2019-04-30 06:27] diabonas opened #1449 "Improve option detection of analyze.py"
- The last element of an entry in a long options array [can be an integer](https://www.gnu.org/software/libc/manual/html_node/Getopt-Long-Options.html#index-struct-option), see e.g. [`tpm2_createpolicy`](https://github.com/tpm2-software/tpm2-tools/blob/master/tools/tpm2_createpolicy.c#L192). Such long options are currently not parsed because the [regex in `analyze.py`](https://github.com/tpm2-soft

[2019-04-30 12:37] dilyanpalauzov commented on #1433
In this particular example `**-h**, **--help=[man|no-man]**`, means that --help needs a mandatory paratemer.  Without equal sign it would mean that the parameter is optional.  This is at least how I see the things.

[2019-04-30 14:49] #1442 closed

[2019-04-30 15:40] #1433 closed

[2019-04-30 20:32] idesai commented on #917
I think these: ActivateCredential, Duplicate, Certify, FieldUpgradeStart, NVUndefineSpace, ObjectChangeAuth, NVChangeAuth

[2019-05-02 07:40] remuswu1019 opened #1450 "Wrong Link in tpm2_create.1.md"
The link `object attribute specifiers` in [tpm2_create.1.md](https://github.com/tpm2-software/tpm2-tools/blob/master/man/tpm2_create.1.md)  should be
https://github.com/tpm2-software/tpm2-tools/blob/master/man/common/obj-attrs.md

[2019-05-02 09:07] PeterHuewe opened #1452 "Backport tpm2_flushcontext to 3.x.x"
The tpm2-tss-engine needs the tpm2_flushcontext tool for their testsuite and thus has to resort to use the latest master of tpm2_tools.
As the current work on the 4.x release of the tpm2-tools is in progress, there might be api breaks, which then cause tpm2-tss-engine to fail.

The best solution would be to backport tpm2_flushcontext to the current 3.x branch and do a quick update release of 3.x.x

[2019-05-02 12:08] dgptha opened #1453 "tpm2_activatecredential activatehandle auth"
The auth of the activateHandle (following "Part 2" naming) in the current implementation doesn't work.
This is fairly easy to test with `test/integration/tests/activatecredential.sh`: set an auth for the created ak (`-P password` option on the `tpm2_createak` command). With that `tpm2_activatecredential` with and without the `-P password` option doesn't work. `tpm2_activatecredential` systematical

[2019-05-02 14:57] PeterHuewe commented on #1061
On it :)

[2019-05-03 03:13] #1450 closed

[2019-05-03 14:50] #1061 closed

[2019-05-03 19:49] williamcroberts opened #1457 "default output file names"
In tools, some of them have default output filenames when Josh ported to ESAPI. We need to consider these options in depth and figure out if we want to make the output file always an explicit required option. Find all of them and fix it or leave and ensure manpages are up-to-date.

[code]

[2019-05-03 21:51] dnoliver opened #1458 "how to print `pcrs.out` content from tpm2_quote"
Hello,

I generated  a quote with:

[code]

and got 3 files: `sig.out`, `pcrs.out`, `quote.out`.
I can check them with the misc tool tpm2_checkquote without problems

[code]

Now, I want to read what is in that `pcrs.out` file. I was hoping that the `tpm2_print` tool will help me here, but I only get error messages:

[code]

The expected magic in apparently defined in
[code]

So:

1. is the `tpm2_

[2019-05-03 22:06] dnoliver commented on #1458
nevermind! :D the `tpm2_checkquote` tool prints the pcr values in yaml format!

[2019-05-03 22:06] #1458 closed

[2019-05-03 23:29] williamcroberts commented on #1457
This is so annoying, remove it and just clobber:
[code]

[2019-05-06 03:23] remuswu1019 commented on #1450
Fix on #1451

[2019-05-07 00:16] williamcroberts opened #1462 "tpm2_util_object_load: use consistently"
Their are a llot of ways in which objects can be selected, for instance "o" for owner hierarchy. Modify tpm2_util_object_load() and use consistently to create a tpm context for all objects and use flags to control what is considered valid input. Use this in all the tools to provide a consistent object loading model from various sources.

[2019-05-07 00:18] williamcroberts commented on #1462
Probably also allow NV indexes like 1, 2, 3, etc rather than raw handles as well. Flags would likely be around:
* nv indexes - numeric
* persistent - ESYS_TR or numeric
* transient - context files only
* hierarchies: (n|null, o|owner, p|platform, e|endorsement)

[2019-05-07 17:31] williamcroberts commented on #1289
This also could be coupled with:
  - https://github.com/tpm2-software/tpm2-tools/issues/1462

As loading the object from a string can be made consistent.

[2019-05-07 21:53] williamcroberts opened #1463 "fix session tests/find bug"
A commit I will reference when I upload the PR will require some XFAIL tests corrected and the XFAIL patch reverted.

[2019-05-07 21:55] williamcroberts commented on #1463
See: https://lists.01.org/pipermail/tpm2/2019-May/001161.html

[2019-05-08 11:51] dilyanpalauzov opened #1467 "Tests and bash"
./configure calls `AC_CHECK_PROG([BASH_SHELL],[bash],[yes])` and verifies, that bash is on $PATH.  But the tests/integration/tests/*.sh files all start with `#!/bin/bash`.

If `bash` is in /usr/bin, but not in /bin, ./configure will not warn, that the tests will fail.

[2019-05-08 12:08] dilyanpalauzov opened #1469 "Files ignored by “make dist”"
“make dist” forgets to include these files in the tarball:
[code]

[2019-05-08 15:14] lukehinds commented on #1453
@dgptha , do you plan to submit a PR with your suggested fix in `key_shandle`?

[2019-05-08 15:47] #917 closed

[2019-05-08 15:47] #956 closed

[2019-05-08 15:47] #1266 closed

[2019-05-08 16:07] williamcroberts commented on #1463
I think the problem is that when a password is coming in, were trying to start an hmac session when ectx is null or something like that.

[2019-05-09 12:26] AndreasFuchsSIT opened #1472 "Testing without abrmd"
IMHO, the tests should also be runable against a TPM without the need of a resource manager.
The test script also already foresee this option.

At https://github.com/AndreasFuchsSIT/tpm2-tools/tree/notab_testing I started doing so; with only minor changes.
However, a lot of tests fail in these cases for obvious reasons.

My question is: How should I fix this?
a) Make the tools not leave any clutte

[2019-05-09 12:32] AndreasFuchsSIT commented on #1472
Or maybe c) add a general tool option to clean all transient and loaded (not active) sessions on exit ?

[2019-05-09 13:18] dilyanpalauzov commented on #1417
The problem could also be in the resource manager `tpm2-abrmd` not being able to deal with tcti-partial-reads.

[2019-05-09 13:54] AndreasFuchsSIT opened #1475 "Tools start leaking (password) sessions [Regression]"
Tools have started leaking session, if no session is handed in. Example:
[code]
git bisect told me this commit: c39e823410197d724d3810c952e4d5f65422634b

I think I have a fix ready in a few minutes

[2019-05-09 13:56] AndreasFuchsSIT commented on #1475
P.S. this killed tpm2-tss-engine tests today... ;-)

[2019-05-09 14:45] AndreasFuchsSIT opened #1477 "Travis: XFAIL and passing"
Two quick questions:
- The tests currently have 2 XFAILs on abrmd tests; I don't know what they are ?
- Travis still succeeds, despite these failure ?

see e.g. https://travis-ci.org/tpm2-software/tpm2-tools/jobs/530310974
[code]

[2019-05-09 15:11] AndreasFuchsSIT commented on #1477
Accordings to #1474 this may be a bug with tpm2-tss 2.2.2 fixed master

[2019-05-09 15:15] williamcroberts commented on #1477
Duplicate #1463

[2019-05-09 15:15] williamcroberts commented on #1477
#1474 is a compile time error, how is that related?

[2019-05-09 15:17] AndreasFuchsSIT commented on #1477
Sorry, I meant the comment by diabonas https://github.com/tpm2-software/tpm2-tools/pull/1474#issuecomment-490944165

[2019-05-09 15:17] williamcroberts commented on #1368
This should be fail hard when not found

[2019-05-09 15:18] williamcroberts commented on #1477
Closing this as it's a dup of #1463. Lets get the fix discussion on that.

[2019-05-09 15:18] #1477 closed

[2019-05-09 15:22] #1475 closed

[2019-05-09 15:43] williamcroberts opened #1478 "Switching BSD-2 to BSD-3"
The Files:
[code]
Are all BSD-2. We would like to get sign off from the following authors to update to BSD-3:
- [x] Alexander Steffen - Alexander.Steffen@infineon.com
- [x] Alon Bar-Lev - alon.barlev@gmail.com
- [x] Andreas Fuchs - andreas.fuchs@sit.fraunhofer.de
- [x] Carlos Santos - casantos@datacom.ind.br
- [ ] gilb3rt - github@gilb3rt.com
- [x] GlovePuppet - touched.by.his.noodley.appendage@gm

[2019-05-09 15:58] williamcroberts commented on #1472
No I don't see this as a thing. The RM is optional, but likely useful part of the stack. Considering that direct access to a physical tpm is restricted by file permissions, it's also not a likely thing users would be doing. The tests are built for the common denominator of an RM.

[2019-05-09 16:35] diabonas commented on #1477
So the failure of `test/integration/tests/tcti/abrmd/extended-sessions.sh` that I get with tpm2-tss 2.2.2 seems to have been fixed on master by https://github.com/tpm2-software/tpm2-tss/commit/07eb8a2ea3d19e815c2e402ea2d2f1fcef7cf613. This commit should probably be cherry-picked for tpm2-tss 2.2.x.

[2019-05-09 20:17] diabonas commented on #1477
I looked a bit further into this: the test fails with
[code]
This is because since https://github.com/tpm2-software/tpm2-tss/commit/18600770725a892faa8d7044867466337708fffd (and fixed by the aforementioned https://github.com/tpm2-software/tpm2-tss/commit/07eb8a2ea3d19e815c2e402ea2d2f1fcef7cf613), tpm2-tss sets sensible session attributes itself instead of relying on the application to do that and

[2019-05-10 13:20] roberto497 opened #1480 "Question about policy"
How can I create a persistent key with a policy, with PCR values like (Bios, Bootloader, Kernel), and that this key can not be accessed if any change occurs

[2019-05-10 13:52] AndreasFuchsSIT opened #1481 "Requiring tpm2-tss >=2.3.0"
https://github.com/tpm2-software/tpm2-tools/issues/1477#issuecomment-491050505 suggests, that the tpm2_unseal tool relies on the tpm2-tss to clean non-applicable session attributes for decrypt-/encrypt-sessions.
This was introduced to tpm2-tss as enhancement for the 2.3.0-dev series.
If tpm2-tools relies on this feature, it should PKG_CHECK for tpm2-tss >= 2.3.0

[2019-05-10 13:52] AndreasFuchsSIT commented on #1477
This was an enhancement/feature we introduced for the upcoming 2.3.0-dev.
If the tpm2-tool rely on this feature, they should PKG_CHECK against tpm2-tss >= 2.3.0
I opened #1481 for this.

[2019-05-10 14:07] williamcroberts commented on #1480
Look at the test:
https://github.com/tpm2-software/tpm2-tools/blob/master/test/integration/tests/unseal.sh#L85

The only thing you would need to add is tpm2_evictcontrol -c key.ctx to make it persistent.

Questions should go to the mailing list.

[2019-05-10 14:07] #1480 closed

[2019-05-10 14:41] AndreasFuchsSIT opened #1482 "Personal fork dies on CI"
This is more a request for help:

My personal fork dies on https://github.com/tpm2-software/tpm2-tools/blob/7b93d52bf9cd897ca20de9d94a7f8c3e7a6e2ed5/.ci/docker.run#L92 with
[code]
(see https://travis-ci.org/AndreasFuchsSIT/tpm2-tools/jobs/530778525)

Any idea, why that is or how I can fix that ?

[2019-05-10 15:08] williamcroberts commented on #1482
no remote called origin or no branch called master.... I wonder what they call your remote branch combo...

Looks like your remote name is called:
https://travis-ci.org/AndreasFuchsSIT/tpm2-tools/jobs/530778525#L420

[2019-05-10 15:16] #1016 closed

[2019-05-10 15:18] williamcroberts commented on #1389
Fixed in https://github.com/tpm2-software/tpm2-tools/commit/9685ea263f994537430323fb1681b210395eee7c

[2019-05-10 15:18] #1389 closed

[2019-05-10 15:18] williamcroberts commented on #1452
Fixed in https://github.com/tpm2-software/tpm2-tools/commit/8c13b2f10fa92457ee83a2da784f9a3618c4c49f

[2019-05-10 15:18] #1452 closed

[2019-05-10 15:23] williamcroberts commented on #1160
Looks fixed in https://github.com/tpm2-software/tpm2-tools/commit/993da58a612238bf2dd53a015dfdb2a6c0eb00b9

[2019-05-10 15:23] #1160 closed

[2019-05-10 16:50] williamcroberts commented on #1478
The only thing @gilb3rt touched was commit:
https://github.com/tpm2-software/tpm2-tools/pull/1144/commits/d5239bdcf1b781069ed2e93aa799d491ca6f250d

Which only Modified the Makefile.am the other tools we're not modified and just moved. The Makefile.am is BSD-3 and thus nothing needs to be done.

[2019-05-10 16:50] #1478 closed

[2019-05-10 16:56] gilb3rt commented on #1478
I wasn't on the original list email. It looks like it doesn't matter, but I approve of the license change.

[2019-05-10 17:16] williamcroberts commented on #1478
Archived Outlook .msg format below. All acks received.

[acks.tar.gz](https://github.com/tpm2-software/tpm2-tools/files/3167489/acks.tar.gz)

[acks.tar.gz.sig.txt](https://github.com/tpm2-software/tpm2-tools/files/3167492/acks.tar.gz.sig.txt)

[2019-05-10 17:54] #1179 closed

[2019-05-10 18:03] williamcroberts commented on #1478
Re-Archived emails on outlook .msg format:
[acks.tar.gz](https://github.com/tpm2-software/tpm2-tools/files/3167635/acks.tar.gz)
[acks.tar.gz.sig.txt](https://github.com/tpm2-software/tpm2-tools/files/3167636/acks.tar.gz.sig.txt)

[2019-05-10 21:12] williamcroberts commented on #1472
Also I don't want to implement some half-baked RM logic into the tools, their would be no reason to implement that logic, if you want RM logic, use an RM.

[2019-05-10 21:12] #1472 closed

[2019-05-10 21:14] williamcroberts commented on #1469
I don't think:
 - .gitignore
 - .ci
Belongs in the dist, change my mind?

[2019-05-10 21:15] williamcroberts commented on #1467
So we probably want configure to indicate to the test scripts where bash is, we would have to like sed the scripts or something to insert it. Whats the best solution?

[2019-05-10 21:20] williamcroberts opened #1485 "tpm2_import: Apache 2.0 OSSL copy"
Commit 5d4cc4ee0f5cc intorduced RSA_padding_add_PKCS1_OAEP_mgf1() which is from OSSL, this is Apache 2.0 consider re-writing to avoid dual license on code file?

[2019-05-10 21:22] dilyanpalauzov commented on #1467
You can experiment with the fifth parameter of AC_CHECK_PROG, to force ./configure to check for bash only in /bin/bash (but a simple test during ./configure whether this file exists, would have the same effect), or use as shebang "#!path-to-env bash" in all the tests.

If configure tells the tests where bash is, then it gets messy.  You can have for the test x.sh.in files and configure generates f

[2019-05-10 21:24] williamcroberts commented on #1467
That's what I had before was /usr/bin/env bash, do you mean the same? Redhat changed
It IIRC.

[2019-05-10 21:30] dilyanpalauzov commented on #1467
I mean this.  I do not know what Redhat has changed, nor I know where it is ensured, that env is installed.

[2019-05-10 21:36] dilyanpalauzov commented on #1467
For the record, `git grep /env` shows:
[code]
So the handling currently is inconsistent: tests run with /bin/bash, but for repeating the tests helpers.sh recommends using `#!/usr/bin/env bash`.

[2019-05-11 17:24] dilyanpalauzov commented on #1467
I did this change:
[code]

Notice, that the execution bits of test/integration/tests/activecredential.sh are removed.  Then `make check` printed MMMM after executing the test.  So one way to go is put from ./configure the path to bash in `Makefile.in:SH_LOG_COMPILER = dbus-run-session @PATH_TO_BASH` and remove the she-bang lines from the test files.

Pay attention, that helpers.sh puts in the head

[2019-05-12 01:46] idesai commented on #1463
The issue has been addressed in the Esys module esys_iutil.c. Here is the PR https://github.com/tpm2-software/tpm2-tss/pull/1407
Will unblock (remove XFAIL tags) on test policy password and policy secret. If everything checks out, will close this issue.
Thanks

[2019-05-13 13:33] idesai commented on #1307
@williamcroberts, @RaymWong typically platform hierarchy auth is set by the platform firmware in a real TPM. I guess it may still be useful when working with a simulator...may be.
But the general idea is that platform hierarchy is strictly managed within platform firmware window.

[2019-05-13 15:17] idesai commented on #1457
@williamcroberts, I agree with the simply overwrite model.
Also, I think output file names should be explicitly specified unless piping to stdout when possible. So I'd rather drop default filenames.

[2019-05-13 15:47] idesai commented on #880
@williamcroberts, esapi doesn't check the range for NV; but does check for transient and persistent? Sounds like this should be checked in esapi.
However, there is more to parsing the handle value than it's relevance to a specific tool. What about reserved key handles and NV Indices. There is a TCG registry of these and the handle ranges **vary depending on which TCG TPM workgroup** we are talking

[2019-05-13 15:58] idesai commented on #1147
The tool is purported to block those with knowledge owner hierarchy authorization from using it to clear the TPM.

I agree clearlock does not convey that in anyway, rather sounds like it would clear a lockout :)

On a real TPM the owner hierarchy losing it's ability to clear the tpm is a big deal especially since the only way to resolve the situation is to get access to the platform hierarchy whic

[2019-05-13 21:20] williamcroberts commented on #1307
Should still be modifiable by the tool, perhaps someone ports these tools to a UEFI or GRUB shell and wants to do things.

[2019-05-13 21:20] williamcroberts commented on #1307
#1289 actually has suggestions around fixing this terrible interface changeauth has morphed

[2019-05-13 21:35] #1262 closed

[2019-05-13 21:58] dnoliver opened #1488 "tpm2_checkquote manpage out of date"
tpm2_checkquote manpage do not match the options in the code

Code:
[code]

Man:
[code]

1. `-c, --key-context` was removed
2. `-G, --halg` is `-g` in the code. Should this be `-G` for consistency with `tpm2_quote`?
3. `-s, --sig` works, but it is `--signature` in the `tpm2_quote` command (inconsistent)
4. `-p, --pcrs` is `-F, --pcr-input-file` in the code, should be `-p, --pcrs` for consistency w

[2019-05-13 22:22] williamcroberts commented on #880
Your over thinking this, its more like the top byte of the handle should be 0x1:
[code]

However, this begs the question, handles like 0, 1, 2 ... N (within range) should work too. I don't think when people want to write to index 0 that they have to write 0x01000000 (or something like that). So we probably want to say, if the top byte is set in the handle it must be 0x01, else if the top byte is a

[2019-05-14 06:46] idesai commented on #1463
Summary:
1. This is certainly not a resource manager issue.
    I ran the test command stream directly on the tpm and did not find a behavior that is differentfrom "with" the resource manager. Here are my findings

[2019-05-14 07:13] idesai commented on #1488
There is an existing issue #1042  for auditing all the man pages

[2019-05-14 17:17] williamcroberts commented on #1481
@AndreasFuchsSIT when is 2.3 coming, i see 2.2.3_rc0 tagged.

[2019-05-14 17:34] williamcroberts opened #1490 "tpm2_createak requires -h or -c"
Unify as same option, either context file or handle.

[2019-05-14 19:16] williamcroberts opened #1492 "compound tools"
Look at compound tools and consider replacing with scripts.

[2019-05-14 21:31] idesai commented on #1492
@williamcroberts, Compound tools like tpm2_getmanufec?

[2019-05-14 21:34] idesai commented on #1469
@williamcroberts I agree, they don't belong.

[2019-05-15 14:15] #1457 closed

[2019-05-15 14:15] #1490 closed

[2019-05-15 14:15] #1469 closed

[2019-05-15 17:07] idesai opened #1496 "Unit-test test_tpm2_auth_util.c does not cleanup or remove the foobar file it creates"

[2019-05-15 19:45] idesai commented on #1463
Awaiting tss PR merge https://github.com/tpm2-software/tpm2-tss/pull/1407

[2019-05-15 20:18] idesai commented on #1496
Pending PR 1498

[2019-05-15 21:23] idesai commented on #1453
Fix proposed in https://github.com/tpm2-software/tpm2-tools/pull/1499. Thanks @dgptha.

[2019-05-15 22:23] #1453 closed

[2019-05-16 00:12] #1326 closed

[2019-05-16 00:14] idesai commented on #1147
@williamcroberts any thoughts on this ?

[2019-05-16 00:22] idesai commented on #1184
@williamcroberts these changes got merged here https://github.com/tpm2-software/tpm2-tools/pull/1198.

[2019-05-16 00:22] #1184 closed

[2019-05-16 00:32] williamcroberts commented on #1147
No we want the tool name to be close to the TPM command so people can go from spec knowledge to tools easily. The command is clearcontrol, thus tpm2_clearcontrol.

And then make the option names reasonable. We should be specifying hierarchy as a option input:
--hierarchy=<o|l> with it defaulting to platform or lockout (whichever is reasonable) and convert the command line option via a call to `tpm

[2019-05-16 11:33] diabonas commented on #1482
The problem here is that Travis CI does a [shallow clone of the current branch](https://travis-ci.org/AndreasFuchsSIT/tpm2-tools/jobs/530778525#L419), in your case the `fix_unused_value` branch. Therefore the `master` branch is not available for comparison. For pull requests, Travis clones the base branch first, then fetches and checks out the PR, so there the logic works.

It might be nice to rep

[2019-05-16 12:18] RaymWong commented on #1307
Yes it's supposed to be managed in platform firmware during boot.
It is also useful for systems that do not implement bootloader to show this feature especially in the case of real TPM with system like raspberry pi3 etc. Perhaps set the platform auth value in early start of OS to prevent user from clearing the TPM using tpm2_clear -p command. User only allowed to clear using the lock out value whi

[2019-05-16 13:31] AndreasFuchsSIT commented on #1482
Thanks for figuring this out...

However, this would mean that people don't receive whitespace errors on travis runs in fork's branches but only once they issue a PR. But yeah, it's already better than the current situation...

[2019-05-16 13:51] diabonas commented on #1482
Yeah, unfortunately Git alone doesn't provide the information on which "parent" branch the current branch is based on, you need the information provided by Travis for a pull request to reliably do that. Theoretically you could do [some hacking](https://gist.github.com/joechrysler/6073741) to find the nearest commit to HEAD that has an associated branch, but this is not very reliable either.

An al

[2019-05-16 14:04] #1482 closed

[2019-05-16 16:53] #1463 closed

[2019-05-16 17:19] idesai commented on #1147
@williamcroberts sounds good. I was thinking to default it to platform hierarchy. The reasoning being if someone simply runs this tool inadvertently without any parameters, it would at least prevent from this command taking effect on a real TPM wherein the platform hierarchy auth is not readily available.
Event if using lockout authorization default or not, should we caution the user before procee

[2019-05-17 01:23] williamcroberts commented on #1241
Actually looking at the other invocations of %s they look fine, but ill still leave this macro in utils for now.

[2019-05-17 17:25] #1241 closed

[2019-05-17 17:46] williamcroberts commented on #1259
Not reproducible.

[2019-05-17 17:46] #1259 closed

[2019-05-17 17:50] williamcroberts commented on #1064
tpm2_readpublic, the switch to tpm2_util_public_to_yaml() ensured all fields are output to the YAML given a public structure.

[2019-05-17 17:51] williamcroberts commented on #1064
All the important fields seem to be set, however, I would eventually like to support a -y input that supersedes other options and takes a YAML/JSON or whatever template.

[2019-05-17 17:51] #1064 closed

[2019-05-17 17:54] williamcroberts commented on #1193
That's done, all the output code has been converted to PERROR macro:
[code]

[2019-05-17 18:45] idesai commented on #1289
This tool used to be call tpm2_takeownership if am not mistaken and if so, taking ownership involved programming the owner, lockout and endorsement hierarchy passwords/ auth values. May be this information can go in the tpm2_changeauth manual and then user can call tpm2_changeauth thrice - one call each for setting owner, lockout and endorsement auths. That if we decide to collapse the interface t

[2019-05-17 19:02] idesai opened #1510 "tpm2_hierarchy_from_optarg function seems to be overloaded"
The function (like its name suggests) should ideally return only one of the 4 hierarchy handles TPM2_RH_OWNER TPM2_RH_ENDORSEMENT TPM2_RH_PLATFORM TPM2_RH_NULL when specified as o|p|e|n or specified as a corresponding hex number 40000001|4000000C|4000000B|40000007.
As used currently, it also returns the unsigned long of any properly formatted hex string: https://github.com/tpm2-software/tpm2-tools

[2019-05-18 01:20] williamcroberts commented on #1193
Work is on: https://github.com/williamcroberts/tpm2.0-tools/tree/exit-codes

[2019-05-20 10:26] AndreasFuchsSIT opened #1511 "Remove transient object from TPM after context-saving"
IMHO, it would be good practice for the tools to remove transient objects from the TPM after they were saved and stored to disk. Since the kernel as well as the user-space resource managers will do so anyways, the functional flow will not change. On the opposite, this will allow tools to be used without a resource manager on a TPM or simulator directly.

IMHO even better would be, to conditionally

[2019-05-20 18:08] idesai commented on #1511
@AndreasFuchsSIT
1. Agree with flushing the transient object from TPM when saved to the disk. Question is does the resource manager try to keep track of such a handle that has been explicitly flushed by the application. Would it then:
a. Attempt to flush the handle again
b. Flush the handle# without realizing it was re-allocated to another application

2. IIUC this would mean making the output con

[2019-05-20 18:15] idesai commented on #1496
@williamcroberts we want it to hit the disk and back since files_load_bytes_from_buffer_or_file_or_stdin needs to be exercised as part of testing file IO with tpm2_auth_util:handle_file routine. Isn't it?

[2019-05-20 18:16] #1444 closed

[2019-05-20 23:04] #1481 closed

[2019-05-21 09:02] AndreasFuchsSIT commented on #1511
1. If something was flushed by the application, the RM sees that and seizes tracking that object; aka will not flush.
2. Yes. The intention was, if we want to somehow keep the current capability of the tools to create transient object inside the TPM if no RM is around. The reason being that I don't know, if people are relying on this feature. In that case, we don't want to take it away. But I cann

[2019-05-21 18:08] idesai commented on #1511
Agreed.  Another approach could be since tools know the TCTI it is talking to and can process missing command line option for the context file, i guess we could do something like:
if tcti!=RM and !tool.cmdline.contextfile
 <don't flush>
All other cases following a contextsave of the transient object we always flush.

[2019-05-22 11:10] AndreasFuchsSIT commented on #1511
One question though:
Currently, if !tool.cmdline.contextfile then the tool will auto-select a filename and store stuff, see
https://github.com/tpm2-software/tpm2-tools/blob/6163942372cd9da7ed6687730d0d814ded56df1b/tools/tpm2_createprimary.c#L135-L137
So the question is, whether this is old and/or desired behavior of the tools and if we can just alter it ?

[2019-05-22 18:18] idesai commented on #1511
Not sure why it was introduced. May be there was a reason but IMHO I'd prefer dropping this existing behavior of creating files with default filenames in favor of what's been discussed here since the later has more functional impact.

[2019-05-22 22:00] idesai commented on #1496
@williamcroberts, i get it though and so have made changes to the PR.

[2019-05-23 08:11] AndreasFuchsSIT commented on #1511
Ok, cool.
I'll start working on some code and wait for @williamcroberts to also agree.

[2019-05-23 10:49] Kaidou91 opened #1517 "tpm2 wildcard policies guide help"
Hello.

Can anybody explain me how to use wildcard policies to create a NVindex and how to use a wildcard policy to access that NVindex?
Thanks.

[2019-05-23 17:44] idesai commented on #1517
@Kaidou91 for how to questions, instead of the issue tracker, please use the mailing list (https://lists.01.org/mailman/listinfo/tpm2). Thanks.

[2019-05-23 17:44] #1517 closed

[2019-05-24 12:39] lirale opened #1518 "load external HMAC key"
Hi all,

Has anyone tried loading an HMAC key in clear to the TPM ?

Thanks,

[2019-05-24 14:30] flihp commented on #1417
Given the repro and the logs I'm seeing from `tpm2-abrmd` I'm 80% certain this is my bug. I'll update https://github.com/tpm2-software/tpm2-abrmd/issues/622 with more data when I have it.

[2019-05-24 18:07] idesai commented on #1518
@lirale for how to questions, instead of the issue tracker, please use the mailing list (https://lists.01.org/mailman/listinfo/tpm2). Thanks.

[2019-05-24 18:07] #1518 closed

[2019-05-26 09:53] idesai opened #1519 "Decouple activate credential and createek interdependence"

[2019-05-26 09:57] #1519 closed

[2019-05-28 16:02] williamcroberts commented on #1511
That needs to die, IIRC their is a bug for this. Supposedly I fixed this: https://github.com/tpm2-software/tpm2-tools/issues/1457 (I don't trust that for some reason though).

I have no problems with flushing transient handles on context save

[2019-05-28 16:36] AndreasFuchsSIT commented on #1511
Ok, so the final question is:
What's the desired behavior if no output-filename is provided:
a) Keep transient
b) Complain
I assume it's (b) but just wanted to make sure

[2019-05-28 16:39] williamcroberts commented on #1511
Yeas B, the user should always specify or we complain.

[2019-05-29 14:50] joholl commented on #1146
I'll look into this if you don't mind

[2019-05-29 15:01] williamcroberts commented on #1146
@joholl all yours

[2019-05-29 16:38] #1496 closed

[2019-05-29 20:39] #1147 closed

[2019-05-29 21:21] #1176 closed

[2019-05-29 21:33] idesai commented on #1191
Same as #1191

[2019-05-29 21:33] #1191 closed

[2019-05-29 21:38] idesai commented on #1060
Fixed in 63bf577935b3

[2019-05-29 21:38] #1060 closed

[2019-05-29 23:18] idesai commented on #1148
@williamcroberts the tools seems quite enough and doesn't seem to be superfluous. Here is a list of information going to stdout. In a normal/passing scenario none of this are printed. Does any in particular in this listing seem superfluous.

LOG_PERR(Esys_VerifySignature, rval);
LOG_WARN("The NULL hierarchy doesn't produce a validation ticket,"
LOG_ERR("The msg file \"%s\" is empty", msg_file_path

[2019-05-30 15:41] williamcroberts commented on #1148
Those go to stderr. Everything looks fine in that tool too. Must already have been addressed or invalid bug.

[2019-05-30 15:41] #1148 closed

[2019-05-30 18:13] williamcroberts opened #1520 "create tpm layer for commands"
Flattening the TPM return codes and logging via PERR tend to get repeated throughout the code base and tpm commands are scattered about. Rather than trying some of these abstractions, like the hiearchy.c file, just move all the commands to something like tpm.c and have that interface return tool_rc's.

Also, we can leverage this to perform abstarction on:
1. the objects (just pass loaded object po

[2019-05-30 18:20] williamcroberts commented on #1492
- [ ] tpm2_listpersistent
- [ ] tpm2_createek
- [ ] tpm2_createak
- [ ] tpm2_activatecredential
- [ ] tpm2_getmanufec

@idesai any others?

[2019-05-30 18:54] williamcroberts commented on #1045
This actually plays into: https://github.com/tpm2-software/tpm2-tools/issues/1520

If we have all the data for an object in a single structure, including its authorization session data, then if we abstract away the ESAPI interface as described in #1520, we can trim out a lot of code and complexity from each tool.

I think the overall goal of this is *ONLY* for input objects. Tools that create obje

[2019-05-31 00:12] idesai commented on #1087
Looping for data size larger than TPM2B_MAX_BUFFER or 1KB added in PR#1522

[2019-05-31 19:53] williamcroberts opened #1523 "onexit handler: call a version with ESAPI initialized"
If ESAPI is initialized, call a version with ESAPI still valid so we can call tpm2_session_close() and have the store ESYS ctx be ok. This will help remove goto error handling and cleanup the tmp_rc stuff.

[2019-05-31 22:32] williamcroberts commented on #1193
Also, after going through all the lib ESYS_ calls remaining, and ensure everything is plumbed with tool_rc's also need to go through the tools themselves.

- [ ] - lib ESYS_ calls plumbed
- [ ] - tool ESYS_ calls plumbed
- [ ] - work on flatten to be better and update manpage

Note that exit() allows for status & 0377 or 1567 unique errors.

I'd like to leave the tpm with the first 256....
Then fr

[2019-06-01 17:41] #1523 closed

[2019-06-04 19:58] PeterHuewe opened #1530 "tpm2_import fails to run."
In https://github.com/tpm2-software/tpm2-pkcs11/blob/master/tools/tpm2_pkcs11/tpm2.py#L191 we use tpm2_import, which fails since a few hours.

[code]

[2019-06-04 22:44] diabonas opened #1532 "incrementalselftest.sh fails due to missing CMAC algorithm support"
With the current version 1332 of the [TPM simulator](https://sourceforge.net/projects/ibmswtpm2/), the reworked integration test [`incrementalselftest.sh`](https://github.com/tpm2-software/tpm2-tools/blob/master/test/integration/tests/incrementalselftest.sh) fails with
[code]
The reason for this is that this version of the simulator supports the CMAC algorithm, which `tpm2_getcap` doesn't know and

[2019-06-05 14:14] joholl opened #1535 "Tests might not fail since traps are not inherited to bash functions"
In `helpers.sh`, there is a bash trap that exits if a return code other than 0 appears:

[code]

However, this trap is **not** inherited to bash functions. See the [bash reference](https://tiswww.case.edu/php/chet/bash/bashref.html#Shell-Functions):

If the option `-o errtrace` (or `-E`) is passed, the trap will be inherited:

Due to this issue, there are quite some errors (bash commands not retur

[2019-06-05 16:13] williamcroberts commented on #1530
Oh dang, I must have broke import. I can't wait to get the TSS python bindings and break this dependency. Ill look into this today

[2019-06-05 16:15] #1146 closed

[2019-06-05 16:17] williamcroberts commented on #1535
That seems reasonable, why would some tests start failing though? Are they broken and passing?

[2019-06-05 23:30] williamcroberts opened #1539 "refactor tpm interface"
The work on #1193 ended up with us making a tpm2.c file that contains all the ESYS calls and performs all the tool_rc (name may change) conversions. However, it's still a raw interface. If you look at things like tpm2_policy.c, there is a lot of code like this:
[code]
With #1045, the auth and object models get collapsed, and thus a tpm object should contain the tpm2_session *. We can use this idio

[2019-06-05 23:48] williamcroberts opened #1540 "enable ccache on travis"
PR #1470 attempted to enable CCACHE on travis, however since we  build in docker it's not so straightforward. Investigate how to get this to work and enable it.

[2019-06-06 06:50] joholl commented on #1535
Yes, there are several tests failing, some of which are really broken. I'll keep you updated.

[2019-06-06 12:52] joholl commented on #1535
I pushed the changes I made to a [feature branch](https://github.com/joholl/tpm2-tools/tree/fix_trap_inheritage). I'll eventually create a PR but I want to discuss some issues first.

- `loadexternal.sh` was completely broken and had many problems which are **fixed** now.
- `incrementalselftest.sh` fails at the moment due to an algorithm named `unknown3f` (printed by tpm2_incrementalselftest). Thi

[2019-06-06 15:55] williamcroberts commented on #1535
I wish I had details on why certain things were failing. I am getting ready to travel for work a bit, but @idesai this issue is going to be pivotal for the 4.0 release. Can you help @joholl out?

[2019-06-06 15:56] williamcroberts commented on #1535
Yeah that algorithm lines up with 3F

[2019-06-07 12:40] joholl commented on #1535
I see that I used a TSS version which was not up-to-date. With the current TSS master ([c885eff0](https://github.com/tpm2-software/tpm2-tss/commit/c885eff0a18500676ba86eb821d3adc6cc0a9d28)), there are only two issues left. Sorry for the confusion.

Issues:
* `incrementalselftest.sh` fails at the moment due to an algorithm named `unknown3f` (printed by tpm2_incrementalselftest). To fix this issue,

[2019-06-07 12:56] diabonas commented on #1535
The tpm2-tools-side support for CMAC necessary for `incrementalselftest.sh` is in already #1533, but the upstream tpm2-tss pull requests needs to be merged first so that it can be applied.

[2019-06-07 13:50] idesai commented on #1087
Added support for pkcs7 padding in PR #1522

[2019-06-07 14:54] diabonas commented on #1535
Regarding the failing `tpm2_evictcontrol`, I think this line can be deleted entirely since the the persistent handle it used to clean up [has been removed](https://github.com/tpm2-software/tpm2-tools/commit/582419356da695501bbe6bd071e4e7140d61821a#diff-e3e241d3bce558c10efb23f057ba93c5L55).

[2019-06-07 16:15] pmadeddu commented on #1155
Hi all,
I tried your procedure to define an NV area with "policyread|policywrite" attributes but I get this error:
"tpm:session(1):authorization failure without DA implications".
Does anyone know how I can do this?

Thanks in advance

[2019-06-07 18:36] williamcroberts commented on #1349
@AndreasFuchsSIT @flihp  Ill be proposing the following:

Problem Statement: Esys_TR_FromTPMPublic() cannot convert a TPM2_HANDLE returned from getcap for a session into a usable ESYS_TR.

Proposal:
Modify Esys_TR_FromTPMPublic() behavior so if the handle is a session, that it skips the ReadPublic TPM call and populates an ESYS_TR resource object. This ESYS_TR representing an object, obviously, an

[2019-06-07 18:44] williamcroberts commented on #1349
Looks like we can just tag it with the existing IESYSC_SESSION_RSRC

[2019-06-07 18:52] williamcroberts commented on #1349
See PR: https://github.com/tpm2-software/tpm2-tss/pull/1442 for an RFC implementation

[2019-06-08 06:59] #1087 closed

[2019-06-08 15:39] idesai commented on #1535
@joholl thanks for finding this high priority issue and the proposed solution. I tested your branch and added a commit for dropping the spurious evict control from import.sh. Do you plan to create the PR for your branch?

[2019-06-09 08:14] joholl commented on #1535
I rebased my changes and created a PR. Thank you for your help.

[2019-06-09 12:21] idesai commented on #1535
Thanks!

[2019-06-09 12:47] #1535 closed

[2019-06-10 18:57] idesai opened #1547 "PKCS7 padding in encryptdecrypt tool skips padding when input aligns at block length and strip padding on decryption"
PKCS7 also requires at least ONE padding byte; so if your input length is exactly modulus block length - you need to add block length number of bytes, containing the value block length.

[2019-06-10 20:44] idesai commented on #1547
- Fix for adding padding to input with exactly modulus block length
- Fix for stripping padding when decrypting data

[2019-06-12 07:59] williamcroberts commented on #1206
We have this set to 128. The user can externally choose the best algorithm if we pick the wrong one. Getcap is so slow, I would like to avoid going to the TPM for these things.

[2019-06-12 07:59] #1206 closed

[2019-06-12 08:00] williamcroberts commented on #1342
That comment appears to be nonsensical.

[2019-06-12 08:01] williamcroberts commented on #1342
Is this still an issue?

[2019-06-12 08:04] martinezjavier commented on #1342
@williamcroberts I was never able to reproduce it.

[2019-06-12 08:22] williamcroberts commented on #1193
I don't know offhand if the other error codes are particularly useful. We have the plumbing in place and can map and add as needed on top of the 3 we have.

[2019-06-12 08:22] #1193 closed

[2019-06-12 08:40] #1079 closed

[2019-06-13 08:21] #1289 closed

[2019-06-13 22:20] PeterHuewe commented on #1530
seems to be fixed

[2019-06-13 22:20] #1530 closed

[2019-06-17 11:23] deliciousdish opened #1556 "How to implement key distribution using tpm2_import and tpm2_load"
In the book, "A Practical Guide to TPM 2.0", there's a process describing key distribution which is as the following:

1. The central IT system creates an HMAC key using TPM2_GetRandom.
2. The central IT system encrypts the HMAC key with the public portion of the target client’s storage key.
3. The central IT system signs the encrypted HMAC key with its private signing key. This is done so the loc

[2019-06-19 07:09] joholl commented on #1488
With 31bcf88, the options of `tpm2_checkquote.c` were refactored:
 * `-g`/`--halg` became `-G`/`--halg`
 * `-c`/`--pubkey` became `-u`/`--pubfile`
 * `-p`/`--pcrs` became `-F`/`--pcr-input-file`

However, the corresponding man page was not updated which lead to inconsistent documentation. This was fixed in 30f62700.

For the remaining issue: I agree that `--sig` (`tpm2_checkquote.c`) and `--signat

[2019-06-19 08:38] akela92 opened #1557 "tpm2_create: invalid option -- 'A'"
Hello everyone,

I am currently writing my master thesis in secure seed generation for IOTA wallets and for that I am using a Raspberry Pi 3 and a TPM chip from Infineon. I have successfully configured the TPM (both the HW and the simulator) and can run some commands.
Following the instructions in the [Wiki](https://github.com/tpm2-software/tpm2-tools/wiki/Creating-Objects) on how to create object

[2019-06-19 12:21] joholl commented on #1557
Hi akela92,

The wiki is outdated, thank you for this hint. I suggest reading the man pages of the tool you want to use for the correct options. Also have a look into the [system tests](https://github.com/tpm2-software/tpm2-tools/tree/bd4fc0cfc945f7cfd29d508f31352071ee07517e/test/system) of the tool you are interested in. Those are bash scripts that show how to use the tools together.

[The follow

[2019-06-19 12:21] DomiNic5787 commented on #1557
The interface (parameters) have been changed a lot for the last months/years and they are still not really stable.
For example, the version you used (a3b3cd1c) requires `-b` instead of `-A`.
To find the right parameters for your version, please have a look at the man pages or code.

[2019-06-19 15:29] idesai commented on #1557
Will address in #1042

[2019-06-19 15:29] #1557 closed

[2019-06-19 17:50] #1416 closed

[2019-06-19 17:51] williamcroberts commented on #1114
Fixed: #1558

[2019-06-19 17:51] #1114 closed

[2019-06-19 20:57] williamcroberts commented on #1093
Appears fixed on 9381559b055b4b7:
[code]

[2019-06-19 20:57] #1093 closed

[2019-06-19 20:58] williamcroberts commented on #1093
Duplicate of #778

[2019-06-19 21:00] williamcroberts commented on #1174
Probably do this as a mock in unit tests

[2019-06-19 21:03] williamcroberts commented on #1174
Coupld with #1233

[2019-06-19 21:05] williamcroberts commented on #1556
These are questions, not bugs. I responded to the mailing list:
https://lists.01.org/pipermail/tpm2/2019-June/001204.html

[2019-06-19 21:05] #1556 closed

[2019-06-19 21:32] dnoliver opened #1561 "_FORTIFY_SOURCE requires compiling with optimization (-O)"
Trying to build the latest master commit https://github.com/tpm2-software/tpm2-tools/commit/9381559b055b4b7e12a10aa4bcf65586f5571755 throws an error using the documented build process

Build process:

[code]

Make throws the following error:

[code]

With commit https://github.com/tpm2-software/tpm2-tools/commit/f68e69b9, the original process works.

Versions:

1. Fedora 29
2. tpm2-tss: 28143b43
3

[2019-06-20 00:10] #1510 closed

[2019-06-20 18:33] akela92 commented on #1557
Hi,

I've tried with the `-b` option and is not working either:

`$ tpm2_create -C primary.ctx -Grsa2048:null:aes -u key2.pub -r key2.priv -b "restricted|decrypt|fixedtpm|fixedparent|sensitivedataorigin|userwithauth"
`

`WARNING:esys:src/tss2-esys/api/Esys_ContextLoad.c:275:Esys_ContextLoad_Finish() Received TPM Error
ERROR:esys:src/tss2-esys/api/Esys_ContextLoad.c:89:Esys_ContextLoad() Esys Finis

[2019-06-21 07:07] joholl commented on #1042
From #1557: don't forget to update the wiki pages.

[2019-06-21 07:29] joholl commented on #1557
The options are not broken, you just need to read the manual for your particular version. The_ following commands are working fine for versions `3.1.4` and `3.2.0` (which was released just now):

    tpm2_startup -c
    tpm2_createprimary -H o -g sha256 -G rsa -C primary.ctx
    tpm2_create -c primary.ctx -g sha256 -G rsa -u key.pub -r key.priv   -A 'sign|fixedtpm|fixedparent|sensitivedataorigin'

[2019-06-21 08:30] akela92 commented on #1557
I've downloaded the new version `3.2.0` and the options for the commands `tpm2_createprimary` and `tpm2_create` you wrote don't work. Looking in the manual I figured out which options I had to change to successfully create a primary key and a child of that one:

`tpm2_createprimary -a o -g sha256 -G rsa -o primary.ctx`
`tpm2_create -C primary.ctx -g sha256 -G rsa -u key.pub -r key.priv   -b 'sign|

[2019-06-21 16:21] #1488 closed

[2019-06-21 17:15] #1532 closed

[2019-06-21 21:56] #1174 closed

[2019-06-21 21:56] #1233 closed

[2019-06-22 17:06] williamcroberts commented on #1371
Throw an error

[2019-06-24 05:20] u7702045 commented on #841
I would like to help on this feature. Can you recommend which tools e.g tpm2_evictcontrol.c could be the starting point?

[2019-06-24 15:55] #1242 closed

[2019-06-24 20:26] #1045 closed

[2019-06-25 11:06] srinivasahk opened #1571 "TPM2_PT_LOCKOUT_COUNTER: is not incrementing."
Hi,
I was running code for dictionarylockout with parameters, I could see the error 0x98e(DA counter is increase)  when i pass wrong password but could see the counter getting incremented. Am I missing something here?

pi@raspberrypi:~/tpm/tpm2_files/tpm2_src_files $ tpm2_rc_decode 0x98e
error layer
  hex: 0x0
  identifier: TSS2_TPM_RC_LAYER
  description: Error produced by the TPM
format 1 error

[2019-06-25 11:37] AndreasFuchsSIT commented on #1571
Which TPM are you using for your tests ?

[2019-06-25 11:39] srinivasahk commented on #1571
I m using infineon tpm & see same behavior with linux hw tpm.
Thanks,Srinivas.

    On Tuesday, 25 June 2019, 17:07:16 GMT+5:30, Andreas Fuchs <notifications@github.com> wrote:

Which TPM are you using for your tests ?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-25 20:50] idesai commented on #1342
Closing since the issue could not be reproduced.

[2019-06-25 20:50] #1342 closed

[2019-06-25 21:14] idesai commented on #1571
@srinivasahk is your object defined with noDA set?

[2019-06-26 01:06] JMing77 commented on #1342
Thanks for everyone support.

[2019-06-26 07:02] joholl commented on #1571
@srinivasahk Could you please show us which steps you took so we can reproduce the issue? Please share your TPM firmware version as well (`tpm2_getcap -c properties-fixed`).

Note that the DA lockout counter decrements automatically every `TPM_PT_LOCKOUT_INTERVAL` seconds, in your case 100s.

[2019-06-26 07:31] srinivasahk commented on #1571
Hi,No, noDA is not set.

Here is the flow:
             
    Call  dictionary parameter set with admin define value.    Call  hierarchyChangeAuth with auth value for lockout.    Call again hierarchyChangeAuth with wrong auth value.
Thanks,Srinivas.
  
    On Wednesday, 26 June 2019, 02:44:43 GMT+5:30, Imran Desai <notifications@github.com> wrote:

@srinivasahk is your object defined with noDA set?

[2019-06-26 07:34] srinivasahk commented on #1571
Hi,
Here is the flow:
             
    Call  dictionary parameter set with admin define value.    Call  hierarchyChangeAuth with auth value for lockout.    Call again hierarchyChangeAuth with wrong auth value.
Here I can see the return code TPM is in DA lockmode.

tpm2_rc_decode 0x921error layer
  hex: 0x0
  identifier: TSS2_TPM_RC_LAYER
  description: Error produced by the TPM
format 0 warning c

[2019-06-26 07:54] joholl commented on #1571
@srinivasahk

Please tell us the exact sequence of tpm2-tool commands which lead to the (intended) error `0x98e`. Please also tell us the output of `tpm2_getcap -c properties-fixed`. Otherwise we will not be able to reproduce this issue.

Also, which version of tpm-tools are you using?

[2019-06-26 08:24] srinivasahk commented on #1571
Hi,
In command Pdf TPM2_DictionaryAttackParameters it says. This command will set the authorization failure count (failedTries) to zero.  Here I m not sure whether the counter is internally maintained & not showing in getcap.

I m not using TPM-tools but calling direct api:

I tried in tools below is the result:
tools version : 3.1.4

tpm2_clear -p
pi@raspberrypi:~/tpm/tpm2-tools $ tpm2_dictionary

[2019-06-26 10:01] joholl commented on #1571
Actually, not incrementing *failedTries* is compliant behavior with the [specification](https://trustedcomputinggroup.org/wp-content/uploads/TPM-Rev-2.0-Part-1-Architecture-01.38.pdf). Please see section 19.8.5.

[2019-06-26 11:29] srinivasahk commented on #1571
Thanks Johannes.

    On Wednesday, 26 June 2019, 15:31:43 GMT+5:30, Johannes Holland <notifications@github.com> wrote:

Actually, not incrementing failedTries is compliant behavior with the specification. Please see section 19.8.5.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-26 13:01] joholl commented on #1571
You're welcome. Thank you for your contribution.

@idesai could you please close this issue?

[2019-06-26 13:31] srinivasahk commented on #1571
Closing the case, It is expected behavior when used dictionaryLockout parameters.

[2019-06-26 13:31] #1571 closed

[2019-06-27 05:18] #1467 closed

[2019-06-27 11:14] dilyanpalauzov commented on #1467
If I remember correctly, helpers.sh puts in the header of each testcase.log file instruction how to repeat the test. `make check` executes the tests under dbus-run-session and the instructions from helpers.sh say nothing about dbus-run-session.  This is not addressed by the patch.

[2019-06-27 16:08] #1371 closed

[2019-06-28 08:41] remuswu1019 opened #1577 "Configure is failing"
Configure throws below error:
[code]
For more information:
[code]
[code]

[2019-06-28 08:43] joholl commented on #1577
Have a look at [TSS #69](https://github.com/tpm2-software/tpm2-pkcs11/issues/69). What is your `autoconf-archive` version?

[2019-06-28 23:22] #1368 closed

[2019-06-29 01:55] williamcroberts commented on #1519
Why did you close this?

[2019-06-29 06:43] dilyanpalauzov commented on #1368
The line in configure.ac: `enable_unit="$enable_unit (tpm2_abrmd: $tpm2_abrmd, tpm_server: $tpm_server, bash: $BASH_SHELL, python: $PYTHON, xxd: $XXD)"` has now no more added value.

[2019-07-01 02:57] remuswu1019 commented on #1577
Before I upgrade my system, autoconf-archive is version 20160916-1.
[code]
After upgrade to version (20180313-1), issue solved.

Thanks @joholl 👍

[2019-07-01 02:57] #1577 closed

[2019-07-01 18:18] williamcroberts commented on #1042
General:
 - [ ] remove dates from all man pages

- tpm2_activatecredential:
  - [ ] -E becomes -e
  - [ ] -P becomes -p to match the lowercase object -c option.
  - [ ] - full end to end example

- tpm2_certify:
  - [ ] - -C and -c should be reversed since the signing key has authority over the certifying key.
  - [ ] -P and -p flipped with -C and -c.
  - [ ] -s --sig-file to --signature
  - [ ] -

[2019-07-01 22:04] williamcroberts commented on #1485
consider dropping ossl v1.0.1 support

[2019-07-02 03:14] remuswu1019 commented on #1067
In Debian buster the version of tpm2-tools is 3.1.3-2

[2019-07-03 18:44] fl-symbotic opened #1584 "tpm2_pcrlist failed"

[2019-07-03 18:47] fl-symbotic commented on #1584
root@bcm958802ht16:~# export TPM2TOOLS_TCTI_NAME=device
root@bcm958802ht16:~# export TPM2TOOLS_DEVICE_FILE=/dev/tpmrm0
root@bcm958802ht16:~#  sudo -u tss tpm2_pcrlist -T device:/dev/tpmrm0

** (process:3188): WARNING **: Failed to create connection with service: GDBus.Error:org.freedesktop.DBus.Error.ServiceUnknown: The name :1.3 was not provided by any .service files
ERROR: tcti init allocation r

[2019-07-08 16:59] williamcroberts commented on #1349
The patch has been merged, however, now we need to make sure that a release of ESAPI containing that change is ready for 4.0 release, so I am not going to close that until a release is cut.

Secondly, I'll upload tests

[2019-07-09 15:18] williamcroberts commented on #1336
We're doing a full audit in #1042 and adjusting the options, we'll revisit this when we close #1042 and I re-enable the option analyser.

[2019-07-10 18:27] williamcroberts commented on #1194
Fixed: #1589

[2019-07-10 18:27] #1194 closed

[2019-07-10 22:25] dnoliver commented on #1561
Apparently, using `./configure --disable-hardening` makes the build pass in my setup.

I am not sure if this "fixes" the problem, or generate a much worse one with non-hardened binaries.

Any comments on this?

[2019-07-11 09:39] joholl commented on #1561
Per default, configure is called with hardening enabled. As a consequence, a bunch of gcc compiler flags are used, inluding `-D_FORTIFY_SOURCE=2` (see [configure.ac](https://github.com/tpm2-software/tpm2-tools/blob/master/configure.ac#L169)).

Since [this glibc commit](https://sourceware.org/git/?p=glibc.git;a=commit;f=include/features.h;h=05c2c9618f583ea4acd69b3fe5ae2a2922dd2ddc), the user is war

[2019-07-11 12:14] diabonas commented on #1561
Fortification needs optimisation enabled indeed. The default behaviour of [`AC_PROG_CC`](https://github.com/tpm2-software/tpm2-tools/blob/3535ed92281bf975c8b46ab07808480ef23ac96c/configure.ac#L8) is to [add `-O2` to `CFLAGS`](https://www.gnu.org/software/autoconf/manual/autoconf-2.60/html_node/C-Compiler.html), but this doesn't happen any more since [`AX_CHECK_ENABLE_DEBUG([info])`](https://github

[2019-07-11 19:41] #1561 closed

[2019-07-12 07:13] joholl opened #1592 "test: integration tests should be verbose"
In the integration tests, passing `-Q` (quiet) to the called tools is a common practice. There have also been efforts to make the tests less verbose (#1591). However, IMO tests should be as verbose as possible. If a test fails, it is much easier to find the problem (especially with CI like travis).

When a user runs `make check`, the output is redirected into a logfile anyway. The user usually doe

[2019-07-12 09:21] joholl commented on #1584
Thank you for engaging with the open source community.  When you create issues at an open source project, please make sure to check the following points:

#### Create the issue at the correct repository
This might be difficult since it is not always clear where the error is coming from.
#### Format your issue properly
In GitHub, [markdown](https://github.github.com/gfm/) is used to format text. fo

[2019-07-12 11:01] joholl commented on #1359
I assume the problem is line wrapping for `xxd`, in [this line](https://github.com/tpm2-software/tpm2-tools/blob/cf768cdf97864a3875e07439440d23115041cb4e/test/integration/tests/loadexternal.sh#L148).

[code]

The length of `sym.key` is `16` or `32` depending on the aes used. However, `xxd` performs a line wrapping at some point which can be prevented by passing `-c 256`. The problem was fixed in 9

[2019-07-12 14:08] williamcroberts commented on #1584
When you use sudo, the environment variables are not propagated. You need `sudo -E` or to chown the file so your user can access to it.

Closing this, support questions should go to the mailing list documented in README.md

[2019-07-12 14:08] #1584 closed

[2019-07-13 18:18] idesai commented on #1592
@joholl not sure how much slower it would make travis. Have you done test runs to evaluate?
Also travis outputs the failure results in detail towards the tail end. If you collapse the arrow you could see it. The advantage being, it only does the lengthy output for failure reports.
![image](https://user-images.githubusercontent.com/16821900/61175182-e2611480-a55f-11e9-85cf-37469f3671b5.png)

[2019-07-16 15:07] MWalzDE opened #1596 "Erase NV nonvolatile memory"
Hi guys,
I am using tpm2-tools 3.1.3 with the linux 4.19 resource manager /dev/tpmrm0 on a hardware TPM. I did some tests and used tpm2_evictcontrol to store my own data in the TPM. While testing I cleared the TPM several times using tpm2_takeownership -c
Now tpm2_nvlist shows two entries:

0x1c00002:
  hash algorithm:
    friendly: sha256
    value: 0xB
  attributes:
    friendly: ppwrite|writede